{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}


{# {{fields.field_course_module_fees.content}}
{{fields.field_course_total_fee.content}} #}

<figure>
  <div class="badge green">Total Fee <span>{{fields.field_afpage_course_totfee.content|raw}}</span>
    <em>Pay in Installments</em>
  </div>
  <a href="{{ fields.field_afpage_course_id.content ? 'https://athena.edu/portal/QuickEnquiry?CId=' ~ fields.field_afpage_course_id.content : 'https://athena.edu/portal/QuickEnquiry' }}" target="_blank">
    {% set url = fields.field_afpage_course_bgimage.content|render|striptags %}
    {% set title = fields.title.content|raw %}
    <img src="{{url|replace({' ':''})}}" alt="{{title}}" title="{{title}}" /></a>
</figure>
<div class="post-content tick ">
  <h4 class="post-title"><a href="{{ fields.field_afpage_course_id.content ? 'https://athena.edu/portal/QuickEnquiry?CId=' ~ fields.field_afpage_course_id.content : 'https://athena.edu/portal/QuickEnquiry' }}" target="_blank">{{fields.title.content}}</a></h4>
  <h5>Awarded By : <span> {{fields.field_afpage_course_award_body.content}} </span></h5>

  <h6><img src="/themes/custom/athena/images/affiliatepage/green-tick.svg" />Fee : <span>{{fields.field_afpage_course_fee.content|raw}}</span></h6>
  <h6><img src="/themes/custom/athena/images/affiliatepage/green-tick.svg" />Total Credits : <span>{{fields.field_afpage_course_totcreds.content|raw}}</span></h6>
  <h6><img src="/themes/custom/athena/images/affiliatepage/green-tick.svg" />Assements : <span>{{fields.field_afpage_course_asmnt.content|raw}}</span></h6>
  <h6><img src="/themes/custom/athena/images/affiliatepage/green-tick.svg" />Course Delivery : <span>{{fields.field_afpage_course_crsdlvry.content|raw}}</span>
  </h6>
  <h6><img src="/themes/custom/athena/images/affiliatepage/green-tick.svg" />Learning Support : <span>{{fields.field_afpage_course_lrnsuprt.content|raw}}</span>
  </h6>
  
  <div class=" btn-try"><a href="{{ fields.field_afpage_course_id.content ? 'https://athena.edu/portal/QuickEnquiry?CId=' ~ fields.field_afpage_course_id.content : 'https://athena.edu/portal/QuickEnquiry' }}" target="_blank">Try Us free for 7 days</a></div>

</div>