<div class="fyi-tabs">
    <div class="wrapper">
        <div class="classic-tabs"> <!-- Bootstrap Tabs -->

            <ul class="nav tabs-cyan" id="myClassicTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link waves-light show active" id="overview-tab-classic" data-toggle="tab" href="#overview" role="tab" aria-controls="overview-classic" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="course-module-tab-classic" data-toggle="tab" href="#course-module" role="tab" aria-controls="course-module-classic" aria-selected="false">Course Modules &amp; Fee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="eligibility-tab-classic" data-toggle="tab" href="#eligibility" role="tab" aria-controls="eligibility-classic" aria-selected="false">Eligibility</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="why-athena-tab-classic" data-toggle="tab" href="#why-athena" role="tab" aria-controls="why-athena-classic" aria-selected="false">Why athena?</a>
                </li>
            </ul>
            <div class="tab-content rounded-bottom" id="myClassicTabContent">
                <div class="tab-pane fade active show" id="overview" role="tabpanel" aria-labelledby="overview-tab-classic">
                    <div class="fyi-tabs__overview">
                        <div class="fyi-tabs__overview-list">
                            {{overview | raw}}
                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>${{total_fee}} Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>{{duration}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>{{certification_label}}</h3>
                                    <p>{{certification}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                {% if node.field_courses_credit_type.0.value != 'CIQ' %}
                                <img src="{{base_path}}/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                               <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                        <p>{{ node.field_course_accreditations.0.value|raw }}</p> 
 <p>{{ node.field_course_accreditations.1.value|raw }}</p>    
                                   
                                    
                                </div>
                                {% endif %}
                            </div>
                            <div class="overview-points-card__container">
                                <a href="{{ url('<front>') }}registration" >Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="course-module" role="tabpanel" aria-labelledby="course-module-tab-classic">
                    <div class="fyi-tabs__course-modules">
                        <div class="fyi-tabs__course-modules__details">
                                <h2>Course Modules &amp; Fee</h2>
                                <p>{{course_details | raw}}
                                </p>
                                <div class="desc-container">
                                
                                   {% for module_fee_data in node.field_course_module_fees %}
                                    <div class="desc">
                                        <p>{{ module_fee_data.entity.field_fee_label.value }}</p>
                                        <p><span>${{ module_fee_data.entity.field_paragraphh_module_fees.value }}</span></p>
                                    </div>
                                    
                                    {% endfor %}
                                   
                                </div>
                                <a href="#whatYouLearn">Go to Module Details</a>
                                <p class="italic"><span>*ECTS</span> equivalency chart is for comparison purpose only and doesn't reflect 
                                    the exact mapping information, however the final MBA awarded by the University will 
                                    carry 60 ECTS credits. <a href="#">What Is ECTS?</a></p>
                            </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>${{total_fee}} Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>{{duration}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>{{certification_label}}</h3>
                                    <p>{{certification}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                {% if node.field_courses_credit_type.0.value != 'CIQ' %}
                                <img src="{{base_path}}/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                               <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                        <p>{{ node.field_course_accreditations.0.value|raw }}</p> 
 <p>{{ node.field_course_accreditations.1.value|raw }}</p>    
                                   
                                    
                                </div>
                                {% endif %}
                            </div>
                            <div class="overview-points-card__container">
                                <a href="{{ url('<front>') }}registration" >Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="eligibility" role="tabpanel" aria-labelledby="eligibility-tab-classic">
                    <div class="fyi-tabs__eligibility">
                        <div class="fyi-tabs__eligibility_details">
                            <h2>Admission requirement</h2>
                            <div>
                                <h3>{{academic_route}}</h3>
                                <p>{{academic_route_desc | raw}}</p>
                            </div>
                            <div>
                                <h3>{{mature_entry_label}}</h3>
                                <p>{{mature_entry_desc | raw}}</p>
                            </div>
                            <div>
                                <h3>{{language_prof_label}}</h3>
                                <p>{{language_prof_desc | raw}}</p>
                            </div>
                      <!--      <p class="knowmore">To know more about our partnership with Guglielmo Marconi University, please visit their 
                                official website - 
                                <a href="https://www.gmuonline.org/en/partnerships/collaboration-agreements">
                                    https://www.gmuonline.org/en/partnerships/collaboration-agreements</a></p> -->
                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>${{total_fee}} Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>{{duration}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>{{certification_label}}</h3>
                                    <p>{{certification}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                {% if node.field_courses_credit_type.0.value != 'CIQ' %}
                                <img src="{{base_path}}/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                               <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                        <p>{{ node.field_course_accreditations.0.value|raw }}</p> 
 <p>{{ node.field_course_accreditations.1.value|raw }}</p>    
                                   
                                    
                                </div>
                                {% endif %}
                            </div>
                            <div class="overview-points-card__container">
                                <a href="{{ url('<front>') }}registration" >Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="why-athena" role="tabpanel" aria-labelledby="why-athena-tab-classic">
                    <div class="fyi-tabs__why-athena">
                        <div class="fyi-tabs__why-athena_details">
                            <h2>Why Athena ?</h2>
                            {{why_athena | raw}}
                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>${{total_fee}} Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>{{duration}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>{{certification_label}}</h3>
                                    <p>{{certification}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                 {% if node.field_courses_credit_type.0.value != 'CIQ' %}
                                <img src="{{base_path}}/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                               <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                        <p>{{ node.field_course_accreditations.0.value|raw }}</p> 
 <p>{{ node.field_course_accreditations.1.value|raw }}</p>    
                                   
                                    
                                </div>
                                {% endif %}
                                
                            </div>
                            <div class="overview-points-card__container">
                                <a href="{{ url('<front>') }}registration" >Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>


<div class="partners-tabs">
        <div class="wrapper">
            <h1>Partners of this Programme</h1>
            <div class="classic-tabs"> <!-- Bootstrap Tabs -->
 {% set nummact = 1 %}
 {% set activeclass = '' %}
                <ul class="nav tabs-cyan" id="myClassicTab" role="tablist">
                 {% for universities in univ_data	 %}
                 
                  {% if nummact == 1 %} 
                  {% set activeclass = 'active show' %}
                  {% else %}
                        {% set activeclass = '' %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link  waves-light {{activeclass}}" id="guglielmo-tab-classic" data-toggle="tab" href="#guglielmo{{nummact}}" role="tab" aria-controls="guglielmo-classic" aria-selected="true">
                        {{ universities.university.label }}</a>
                    </li>
                     {% set nummact = nummact+1 %}
                 {% endfor %}       
                   
                </ul>
                <div class="tab-content rounded-bottom" id="myClassicTabContent">
                {% set numm = 1 %}
                 {% for universities in univ_data	 %}
                    <div class="tab-pane fade active show" id="guglielmo{{numm}}" role="tabpanel" aria-labelledby="guglielmo-tab-classic">
                        <div class="partners-tabs__mba">
                            <div class="partners-tabs__mba-text">
                                <div class="content">
                                    <h2>Master of Business Administration (MBA) – 60 ECTS Credits</h2>
                                    <p>{{universities.university.field_description.value|raw}} </p>
                                    {% if universities.univ_logo is empty %}
                                    <img src="{{base_path}}/images/coursepage/gmu-logo.svg" alt="uni-logo">
                                    {% else %}
                                    <img src="{{universities.univ_logo}}" alt="uni-logo">
                                        {% endif %}
                                </div>
                                <div class="certificate">
                                    <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel" data-interval="false">
                                        
                                        
                                         {% set carouselnum = 1 %}
                                           {% for certificate in universities.certificates %}
                                         {% if carouselnum == 1 %} 
                  {% set carouselnumclass = 'active' %}
                  {% else %}
                        {% set carouselnumclass = '' %}
                    {% endif %}
                    
                    
                                        
                                        <div class="carousel-inner">
                                            <div class="carousel-item {{carouselnumclass}}">
                                                <!-- Button to trigger Modal -->
                                                <button type="button" class="cover" data-toggle="modal" data-target="#certificate{{carouselnum}}">
                                                    <img class="d-block w-100" src="{{ certificate}}" alt="First slide">
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="certificate{{carouselnum}}" tabindex="-1" aria-labelledby="certificate1ModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="{{ certificate}}" alt="First slide">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                    
{% set carouselnum =  carouselnum+1 %}                    
                                            
                                        </div>
                                        
                                        {% endfor %}
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <img src="{{base_path}}/images/coursepage/prev.svg" alt="previous">
                                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span> -->
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                            <img src="{{base_path}}/images/coursepage/next.svg" alt="next">
                                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span> -->
                                        </a>
                                    </div>
                                    <p>Click to Enlarge</p>
                                </div>
                                <p class="note">*All certificate and transcript images are for illustrative purposes only and may be 
                                    subject to change at the discretion of respective Universities or Awarding Bodies.</p>
                            </div>
                            <div class="partners-tabs__mba-img"></div>
                        </div>
                        <div class="partners-tabs__msg">
                            <div class="partners-tabs__msg-person">
                                <img src="{{base_path}}/images/coursepage/rector.svg" alt="msg author">
                                <h3>Message from the Rector</h3>
                                <p>Prof. Alessandra Briganti</p>
                                <p>Rector Guglielmo Marconi University</p>
                            </div>
                            <div class="partners-tabs__msg-text">
                                <p>Guglielmo Marconi University, modeled around education and research, promotes innovative ICT-based 
                                    educational methodologies, stimulating students to develop high cognitive and practical competences. 
                                    The strong point of this educational system is the focus on the current educational demands required 
                                    by the ever-changing working environment. By considering these developments, GMU offers students 
                                    high-quality market-oriented courses. We have been continuously growing our presence around the 
                                    world through many strategic partnerships during past years and the <span>Westford Education Group</span> was 
                                    the one of the major partnerships which has been very successful since 2015.</p>
                                <p>Athena Global Education is a new venture of Westford Education Group. A future ready education 
                                    solution, Athena Global Education utilizes the latest technology aimed at improving the students’ 
                                    experience. We are happy to have partnered for this new project and are eager to expand our 
                                    partnership into different domains. The association with Westford Group has produced hundreds of 
                                    graduates in past years and we look forward to enhancing the portfolio and <span>providing accessibility 
                                        to education around the world.</span></p>
                            </div>
                        </div>
                        <div class="partners-tabs__msg partners-tabs__msgvideo">
                            <div class="partners-tabs__msg-video partners-tabs__msgvideo-video">
                                <div class="video">
                                    <!-- change this test video with real video -->
                                    <iframe src="https://player.vimeo.com/video/463849042" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class="partners-tabs__msg-person partners-tabs__msgvideo-person">
                                <img src="{{base_path}}/images/coursepage/dean.svg" alt="Dean">
                                <h3>Message from the Dean</h3>
                                <p>GMU Business School, Italy</p>
                            </div>
                        </div>
                    </div>
                       {% set numm = numm+1 %}
                    {% endfor %}   
                </div>

            </div>
        </div>
    </div>
    
    
    <div class="adm-process">
        <div class="wrapper">
            <h1>Admission Process</h1>
            <p>Please find below the detailed steps to be followed as a part of the admission process.</p>
            <div class="admission-steps-card-container">
                <div class="admission-steps-card">
                    <div>
                        <img src="{{base_path}}/images/coursepage/admission1.svg" alt="icon">
                        <h3>Step 1 :<span>Register for a free trial</span></h3>
                    </div>
                    <p>Register for a free trial and get complete access to the first module of this MBA program 
                        for 7 days without any obligations.</p>
                </div>
                <div class="admission-steps-card">
                    <div>
                        <img src="{{base_path}}/images/coursepage/admission2.svg" alt="icon">
                        <h3>Step 2 :<span>Submit online enrollment form</span></h3>
                    </div>
                    <p>If you are satisfied with the learning, start your enrollment process by using ‘Enroll Now’ 
                        option in the learning dashboard.</p>
                </div>
                <div class="admission-steps-card">
                    <div>
                        <img src="{{base_path}}/images/coursepage/admission3.svg" alt="icon">
                        <h3>Step 3 :<span>Pay &amp; Start</span></h3>
                    </div>
                    <p>Once your applications is approved, the fee payment option will be activated in your LMS 
                        and you will be able to make the payment.</p>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="why-course" style="
    padding-bottom: 20px;
    background-color: #ff459a;
    color: #fff;">
        <div class="wrapper">
            <h1>Why this Course ?</h1>
            <div class="cover">
                <div class="why-course__text">
                
                 {% set whynum = 1 %}
                {% for whycourse in node.field_why_this_course %}
                    <div>
                        <h2>{{whynum}} {{ whycourse.entity.field_title.value }}</h2>
                        <p>{{ whycourse.entity.field_description.value|raw }}</p>
                    </div>
                    {% set whynum = whynum+1 %}
                {% endfor %}
                   
                </div>
                <div class="course-resources-card">
                    <h3>Course Resourses</h3>
                    <p>Lorem Ipsum is simply dummy text of the 
                        printing and typesetting industry. Lorem Ipsum</p>
                    <div>
                        <a href="#">Download Brochure</a>
                        <a href="#">Course Specifications</a>
                        <a href="#">Fact Sheet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <a name="whatYouLearn"></a>
    <div class="what-learn">
        <div class="wrapper">
            <h2>What You Learn</h2>
            <p class="desc">What happens before,during, and after your Acadamic Program</p>
            <div class="module-container" id="course-intro-card-container">
                {% set modnum = 1 %}
                {% for module in node.field_course_modules %}
                <div class="module show">
                    <h3>Module {{modnum}}</h3>
                    {% set modnum = modnum + 1 %}
                    <div class="courses-intro-card">
                        <div class="img">
                            <img src="{{base_path}}/images/coursepage/module1.png" alt="course image">
                            <!-- <a href="#"><img src="{{base_path}}/images/coursepage/video-play-icon.png" alt="icon"></a> -->
                        </div>
                        <div>
                            <h4>{{ module.entity.field_course_module_name.value }}</h4>
                            <p class="duration"><span>Duration:</span> 4  to 12 weeks</p>
                            <p class="text">{{ module.entity.field_coursemodule_description.value }}
                            </p>
                            <p class="level"><span>Level:</span> {{ module.entity.field_module_level.value }}</p>
                            <p class="credit"><span>Credits:</span> {{ module.entity.field_course_module_ects_credit.value }} ({{node.field_courses_credit_type.0.value|raw }})</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
               
                <div class="module-overlay hide"></div>
                <button id="course-show-more">Show Less</button>
            </div>
        </div>
    </div>