<div class="course-banner">
        <div class="wrapper">
            <div class="course-banner__breadcrumbs">
                <a href="#">{{category}}</a>
                <a href="#">{{course_title}}</a>
                <a href="#">Overview</a>
            </div>
            <div class="course-banner__logos">
 {% for universities in univ_data	 %}
   <img src="{{base_path}}/images/icons/{{ universities.white_log}}.svg" alt="ucam logo" width="95">

 {% endfor %}

                                        <a href="#" class="showinMobileView" style="position: relative;float:right;color:white;">
                                           <img src="{{base_path}}/images/coursepage/share.svg" alt="share icon" style="width:30px;">
                                        Share
                                        </a>
            </div>
            <h1 class="course-banner__title">{{course_title}}</h1>
            <p class="course-banner__uni">{{awarding_body}}</p>
            <p class="course-banner__details">{{description}}
            </p>
            <div class="course-banner__apply-btn">
                <button><a href="{{ url('<front>') }}registration" style=" text-decoration: inherit;
    color: inherit;font-weight:inherit;padding-left:0px;text-transform:inherit;" >Apply now</a></button>
    {% if node.field_courses_credit_type.0.value %}

                <p>*{{ects_credit}} Credits ({{node.field_courses_credit_type.0.value|raw }})</p>
                {% endif %}
            </div>
            <!-- <div class="course-banner__watch-intro">
                <a href="#">
                    <img src="{{base_path}}/images/coursepage/playintro.svg" alt="play button">
                    <i>Watch</i><i>Intro</i>
                </a>
            </div> -->
            <div class="hideinMobileView shareIcon">
                <a data-toggle="modal" class="btn btn-default" data-dismiss="modal" data-target="#myModalsocialshare">
                    <img src="{{base_path}}/images/coursepage/share.svg" alt="share icon">
                    Share
                </a>
              </div>

<!-- Modal -->


            <div class="course-banner__background">
                    

 {% if node.field_course_banner.entity.uri.value is not empty %}
    <img src="{{file_url(node.field_course_banner.entity.uri.value) }}" alt="banner">
 {% else %}
 <img src="{{base_path}}/images/coursepage/course_banner.png" alt="banner">
{% endif %}
            </div>
            <div class="course-banner__mobilebg">
                <img src="{{base_path}}/images/coursepage/mobile_banner.png" alt="banner">
            </div>
        </div>
    </div>


    <div id="myModalsocialshare" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" style="width:475px !important;">

       <div style="
          text-align: right;
      ">
                <button type="button" class="close close-modal" data-dismiss="modal">×</button>
              </div>


      <div class="modal-body">
       <div class="col-md-12">
  <div class="col-md-12">
    <h5 style="font-weight: bold;">Share this page</h5>

    <h6>Show your friends and family what they can learn from athena</h6>
  </div>
  <div class="col-md-12 row" style="margin-bottom: 20px;">
    <div class="col-md-1"></div>
    <div class="col-md-2"><a href="http://www.facebook.com/sharer.php?u= {{ url('<front>') }}course/{{node.id}}" target="_blank"><img src="/themes/custom/athena/images/fb-ico.png" width="45"></div>
    <div class="col-md-2"><a href="http://twitter.com/share?url={{ url('<front>') }}course/{{node.id}}" target="_blank"><img src="/themes/custom/athena/images/tw-co.png" width="45"></div>
    <div class="col-md-2"><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ url('<front>') }}course/{{node.id}}" target="_blank"><img src="/themes/custom/athena/images/li-ico.png" width="45"></div>
    <div class="col-md-2"><a target="_blank" href="https://api.whatsapp.com/send?text={{ url('<front>') }}course/{{node.id}}" data-action="share/whatsapp/share">
<img src="/themes/custom/athena/images/wt-ico.png" width="45"></a>
</div>
    <div class="col-md-2"><a href="https://api.whatsapp.com/send?text={{ url('<front>') }}course/{{node.id}}" data-action="share/whatsapp/share">
<a href="mailto:?subject=Athena Insights&amp;body=Check out this {{ url('<front>') }}course/{{node.id}}"
   title="Share by Email">
  <img src="/themes/custom/athena/images/at-ico.png" width="45">
</a>
</div>

    <div class="col-md-1"></div>


  </div>

<div class="col-md-12">
    <div class="bg-white sidebar shadow-lg rounded p-3">
	<div class="col-md-12 row">
		<div class="col-md-8" style="
   /* width: 300px; */
   overflow: hidden;
   background: -webkit-linear-gradient(left, black , #eeeeee);
   background: -o-linear-gradient(right, black, #eeeeee);
   background: -moz-linear-gradient(right, black, #eeeeee);
   background: linear-gradient(to right, black , #eeeeee);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   white-space: nowrap;
   " id="shareurl--copy">
        		{{ url('<front>') }}course/{{node.id}}
    		</div>
   		<div class="col-md-4" style="position: relative;padding-left: 80px;color: #ff0068;font-weight: bold;">
			<a onclick="copy_to_clipboard()">COPY</a>
		<div>
	</div>


    </div>
</div>
</div>
      </div></div>
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      -->
    </div>

  </div>
</div>
