<div class="course-banner">
        <div class="wrapper">
            <div class="course-banner__breadcrumbs">
                <a href="#">{{category}}</a>
                <a href="#">{{course_title}}</a>
                <a href="#">Overview</a>
            </div>
            <div class="course-banner__logos">
                <img src="{{ file_url(node.field_course_awarding_body_logos[0].entity.uri.value)}}" alt="ucam logo" width="95" height="39">
                <img src="{{ file_url(node.field_course_awarding_body_logos[1].entity.uri.value)}}" alt="sqa logo" width="95" height="47">
            </div>
            <h1 class="course-banner__title">{{course_title}}</h1>
            <p class="course-banner__uni">{{awarding_body}}</p>
            <p class="course-banner__details">{{description}}
            </p>
            <div class="course-banner__apply-btn">
                <button><a href="{{ url('<front>') }}registration" style=" text-decoration: inherit;
    color: inherit;font-weight:inherit;padding-left:0px;text-transform:inherit;" >Apply now</a></button>
    {% if node.field_courses_credit_type.0.value %}
                                
                <p>*{{ects_credit}} Credits ({{node.field_courses_credit_type.0.value|raw }})</p>
                {% endif %}
            </div>
            <!-- <div class="course-banner__watch-intro">
                <a href="#">
                    <img src="{{base_path}}/images/coursepage/playintro.svg" alt="play button">
                    <i>Watch</i><i>Intro</i>
                </a>
            </div> -->
            <div class="course-banner__share">
                <a href="#">
                    <img src="{{base_path}}/images/coursepage/share.svg" alt="share icon">
                    Share
                </a>
            </div>
            <div class="course-banner__background">
         
    <img src="{{base_path}}/images/coursepage/course_banner.png" alt="banner">
   
            </div>
            <div class="course-banner__mobilebg">
                <img src="{{base_path}}/images/coursepage/mobile_banner.png" alt="banner">
            </div>
        </div>
    </div>