<div class="container-fluid academic-program-wrapper p-0">
   <div class="why-athena mb-3 p-0">
      <div class="testimonials container-fluid p-0">
         <div class="testimonials-background-image">
            <img src="/themes/custom/athena/images/testimonial-bg.png" />
         </div>
         <div class="my-container">
            <div class="testimonials-item">
               <!-- <img src="/themes/custom/athena/images/testimonial-bg.png" alt=""/> -->
               <div class="item-one shawdow-effect">
                  <!-- <h1>Testimonials</h1> -->
                  <img alt="testimonials" src="/themes/custom/athena/images/Testimonials-1.png" />
                  <h2>Our Students Say <br>About Us</h2>
                  <h3>Our students speak about their learning experience at Athena, how the courses sharpened their management skills and the support they received at every stage.
                  </h3>
                  <button onclick="window.location='/insights/testimonials';">View All</button>
               </div>
               <div class="item-two">


                  {% for testidata in testi %}

                     {% set h3Text = testidata.title.value|render|striptags %}
                     {% set text = testidata.field_testimonial_text.value|render|striptags %}

                     {% if loop.index ==1 %}
                        <div class="image-dot-testimonials-one">
                           <img alt="dots" src="/themes/custom/athena/images/dots-course.svg" />
                        </div>
                        <div class="student-review">
                           <div class="student-image">
                              <img style="border-radius: 50%;border: 3px solid orange;" src="{{ file_url(testidata.field_testimonial_thumbnail_imag[0].entity.uri.value)}}" />
                              <div class="social-icon-linkedin d-none d-md-block d-lg-block">
                                 <a href="{{testidata.field_testimonial_linkedin_profi.value}}" target="_blank"><img src="/themes/custom/athena/images/linked-testimonial.svg" alt="" /></a>
                              </div>
                           </div>
                           <div class="info">
                              <h3><span>“</span>
                                 {{ h3Text|length > 90 ? h3Text|slice(0, 90) ~ '...' : h3Text }}
                              </h3>

                              <p>

                              {{ text|length > 110 ? text|slice(0, 110) ~ '...' : text }}
                              &nbsp;<span><a href="{{ url('<front>') }}node/{{testidata.nid.value}}?page=0" hreflang="en">ReadMore</a></span>

                                 <div class="student-info">
                                    <a href="{{testidata.field_testimonial_linkedin_profi.value}}" target="_blank"><img src="/themes/custom/athena/images/linked-testimonial.svg" class="d-block d-md-none d-lg-none" alt="" /></a>
                                    {{testidata.field_testimonial_name_and_desig.value|raw}}
                                    {% if testidata.field_testimonials_country_selec.value %}
                                       <img src="https://ipdata.co/flags/{{ testidata.field_testimonials_country_selec.value|lower }}.png">
                                    {% endif %}
                                 </div>
                              </p>



                           </div>
                        </div>
                     {% endif %}

                     {% if loop.index ==2 %}
                        <div class="image-dot-testimonials-two">
                           <img alt="dots" src="/themes/custom/athena/images/dots-course.svg" />
                        </div>
                        <div class="student-review two">
                           <div class="student-image">
                              <img style="border-radius: 50%;border: 3px solid orange;" src="{{ file_url(testidata.field_testimonial_thumbnail_imag[0].entity.uri.value)}}" />
                              <div class="social-icon-linkedin d-none d-md-block d-lg-block">
                                 <a href="{{testidata.field_testimonial_linkedin_profi.value}}" target="_blank"><img src="/themes/custom/athena/images/linked-testimonial.svg" alt="" /></a>
                              </div>
                           </div>
                           <div class="info">
                              <h3><span>“</span>
                                 {{ h3Text|length > 90 ? h3Text|slice(0, 90) ~ '...' : h3Text }}
                              </h3>

                              <p>

                              {{ text|length > 110 ? text|slice(0, 110) ~ '...' : text }}
                              &nbsp;<span><a href="{{ url('<front>') }}node/{{testidata.nid.value}}?page=1" hreflang="en">ReadMore</a></span>

                                 <div class="student-info">
                                    <a href="{{testidata.field_testimonial_linkedin_profi.value}}" target="_blank"><img src="/themes/custom/athena/images/linked-testimonial.svg" class="d-block d-md-none d-lg-none" alt="" /></a>
                                    {{testidata.field_testimonial_name_and_desig.value|raw}}
                                    {% if testidata.field_testimonials_country_selec.value %}
                                       <img src="https://ipdata.co/flags/{{ testidata.field_testimonials_country_selec.value|lower }}.png">
                                    {% endif %}
                                 </div>
                              </p>


                           </div>
                        </div>
                     {% endif %}

                     {% if loop.index == 3 %}
                        <div class="student-review">
                           <div class="student-image">
                              <img style="border-radius: 50%;border: 3px solid orange;" src="{{ file_url(testidata.field_testimonial_thumbnail_imag[0].entity.uri.value)}}" />
                              <div class="social-icon-linkedin d-none d-md-block d-lg-block">
                                 <a href="{{testidata.field_testimonial_linkedin_profi.value}}" target="_blank"><img src="/themes/custom/athena/images/linked-testimonial.svg" alt="" /></a>
                              </div>
                           </div>
                           <div class="info">
                              <h3><span>“</span>
                                 {{ h3Text|length > 90 ? h3Text|slice(0, 90) ~ '...' : h3Text }}
                              </h3>


                              <p>

                                 {{ text|length > 110 ? text|slice(0, 110) ~ '...' : text }}
                                 &nbsp;<span><a href="{{ url('<front>') }}node/{{testidata.nid.value}}?page=2" hreflang="en">ReadMore</a></span>

                                 <div class="student-info">
                                    <a href="{{testidata.field_testimonial_linkedin_profi.value}}" target="_blank"><img src="/themes/custom/athena/images/linked-testimonial.svg" class="d-block d-md-none d-lg-none" alt="" /></a>
                                    {{testidata.field_testimonial_name_and_desig.value|raw}}
                                    {% if testidata.field_testimonials_country_selec.value %}
                                       <img src="https://ipdata.co/flags/{{ testidata.field_testimonials_country_selec.value|lower }}.png">
                                    {% endif %}
                                 </div>
                              </p>


                           </div>
                        </div>
                     {% endif %}

                  {% endfor %}

                  <button onclick="window.location='/insights/testimonials';">View All</button>
               </div>
            </div>
            </div>
         </div>
      </div>
   </div>
</div>
