<div class="fyi-tabs">
    <div class="wrapper">
        <div class="classic-tabs"> <!-- Bootstrap Tabs -->

            <ul class="nav tabs-cyan" id="myClassicTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link waves-light show active" id="overview-tab-classic" data-toggle="tab" href="#overview" role="tab" aria-controls="overview-classic" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="course-module-tab-classic" data-toggle="tab" href="#course-module" role="tab" aria-controls="course-module-classic" aria-selected="false">Course Modules &amp; Fee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="eligibility-tab-classic" data-toggle="tab" href="#eligibility" role="tab" aria-controls="eligibility-classic" aria-selected="false">Eligibility</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="why-athena-tab-classic" data-toggle="tab" href="#why-athena" role="tab" aria-controls="why-athena-classic" aria-selected="false">Why athena?</a>
                </li>
            </ul>
            <div class="tab-content rounded-bottom" id="myClassicTabContent">
                <div class="tab-pane fade active show" id="overview" role="tabpanel" aria-labelledby="overview-tab-classic">
                    <div class="fyi-tabs__overview">
                        <div class="fyi-tabs__overview-list">
                            {{overview | raw}}
                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>${{total_fee}} Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>{{duration}} months</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>{{certification_label}}</h3>
                                    <p>{{certification}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                    <p>Ministry of Education, Italy</p>
                                    <p>Scottish Qualification Authority, UK</p>
                                    
                                    {% for accreditation in accreditations %}
                                       <p>{{accreditation.content}}</p>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <a href="#">Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="course-module" role="tabpanel" aria-labelledby="course-module-tab-classic">
                    <div class="fyi-tabs__course-modules">
                        <div class="fyi-tabs__course-modules__details">
                            <h2>Course Details</h2>
                            <p class="text">
                              {{course_details | raw}}
                            </p>
                            <div class="headings">
                                <h3 class="module">Modules</h3>
                                <h3 class="fee">Fees</h3>
                                <h3 class="credit">Ects Credits</h3>
                            </div>
                            {% for module in node.field_course_modules %}
                            <div class="content">
                                <p class="module">  {{ module.entity.field_course_module_name.value }}</p>
                                  {{ drupal_entity('paragraph', module.field_course_module_name) }}
                                <p class="fee">$ {{ module.entity.field_course_module_fees.value }}</p>
                                <p class="credit">{{ module.entity.field_course_module_ects_credit.value }} Credits (ECTS)</p>
                            </div>
                            {% endfor %}
                            <div class="total">
                                <p class="module">Total</p>
                                <p class="fee">$ {{total_fee}}</p>
                                <p class="credit">{{total_credits}} Credits (ECTS)</p>
                            </div>
                            <p><span>*ECTS</span> equivalency chart is for comparison purpose only and doesn't reflect 
                                the exact mapping information, however the final MBA awarded by the University will 
                                carry 60 ECTS credits. <a href="#">What Is ECTS?</a></p>
                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>$5,000 Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>9-36 months</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Dual Certification</h3>
                                    <p>IMBA &amp; Scottish Diploma</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                    <p>Ministry of Education, Italy</p>
                                    <p>Scottish Qualification Authority, UK</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <a href="#">Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="eligibility" role="tabpanel" aria-labelledby="eligibility-tab-classic">
                    <div class="fyi-tabs__eligibility">
                        <div class="fyi-tabs__eligibility_details">
                            <h2>Admission requirement</h2>
                            <div>
                                <h3>{{academic_route}}</h3>
                                <p>{{academic_route_desc | raw}}</p>
                            </div>
                            <div>
                                <h3>{{mature_entry_label}}</h3>
                                <p>{{mature_entry_desc | raw}}</p>
                            </div>
                            <div>
                                <h3>{{language_prof_label}}</h3>
                                <p>{{language_prof_desc | raw}}</p>
                            </div>
                      <!--      <p class="knowmore">To know more about our partnership with Guglielmo Marconi University, please visit their 
                                official website - 
                                <a href="https://www.gmuonline.org/en/partnerships/collaboration-agreements">
                                    https://www.gmuonline.org/en/partnerships/collaboration-agreements</a></p> -->
                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>$5,000 Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>9-36 months</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Dual Certification</h3>
                                    <p>IMBA &amp; Scottish Diploma</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                    <p>Ministry of Education, Italy</p>
                                    <p>Scottish Qualification Authority, UK</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <a href="#">Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="why-athena" role="tabpanel" aria-labelledby="why-athena-tab-classic">
                    <div class="fyi-tabs__why-athena">
                        <div class="fyi-tabs__why-athena_details">
                            <h2>Why Athena ?</h2>
                            {{why_athena | raw}}
                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>$5,000 Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>9-36 months</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Dual Certification</h3>
                                    <p>IMBA &amp; Scottish Diploma</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="http://localhost/webhtml/master/app/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                    <p>Ministry of Education, Italy</p>
                                    <p>Scottish Qualification Authority, UK</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <a href="#">Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>