<div class="fyi-tabs">
    <div class="wrapper">
        <div class="classic-tabs"> <!-- Bootstrap Tabs -->

            <ul class="nav tabs-cyan" id="myClassicTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link waves-light show active" id="overview-tab-classic" data-toggle="tab" href="#overview" role="tab" aria-controls="overview-classic" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="course-module-tab-classic" data-toggle="tab" href="#course-module" role="tab" aria-controls="course-module-classic" aria-selected="false">Course Modules &amp; Fee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="eligibility-tab-classic" data-toggle="tab" href="#eligibility" role="tab" aria-controls="eligibility-classic" aria-selected="false">Eligibility</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="why-athena-tab-classic" data-toggle="tab" href="#why-athena" role="tab" aria-controls="why-athena-classic" aria-selected="false">Why athena?</a>
                </li>
            </ul>
            <div class="tab-content rounded-bottom" id="myClassicTabContent">
                <div class="tab-pane fade active show" id="overview" role="tabpanel" aria-labelledby="overview-tab-classic">
                    <div class="fyi-tabs__overview">
                        <div class="fyi-tabs__overview-list">
                            {{overview | raw}}
                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>${{total_fee}} Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>{{duration}} months</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>{{certification_label}}</h3>
                                    <p>{{certification}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                        <p>{{ node.field_course_accreditations.0.value|raw }}</p> 
 <p>{{ node.field_course_accreditations.1.value|raw }}</p>    
                                    {% for accreditation in accreditations %}
                                       <p>{{accreditation}}</p>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <a href="#">Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="course-module" role="tabpanel" aria-labelledby="course-module-tab-classic">
                    <div class="fyi-tabs__course-modules">
                        <div class="fyi-tabs__course-modules__details">
                            <h2>Course Details</h2>
                            <p class="text">
                              {{course_details | raw}}
                            </p>
                            <div class="headings">
                                <h3 class="module">Modules</h3>
                                <h3 class="fee">Fees</h3>
                                <h3 class="credit">Ects Credits</h3>
                            </div>
                            {% for module in node.field_course_modules %}
                            <div class="content">
                                <p class="module">  {{ module.entity.field_course_module_name.value }}</p>
                                  {{ drupal_entity('paragraph', module.field_course_module_name) }}
                                <p class="fee">$ {{ module.entity.field_course_module_fees.value }}</p>
                                <p class="credit">{{ module.entity.field_course_module_ects_credit.value }} Credits (ECTS)</p>
                            </div>
                            {% endfor %}
                            <div class="total">
                                <p class="module">Total</p>
                                <p class="fee">$ {{total_fee}}</p>
                                <p class="credit">{{total_credits}} Credits (ECTS)</p>
                            </div>
                            <p><span>*ECTS</span> equivalency chart is for comparison purpose only and doesn't reflect 
                                the exact mapping information, however the final MBA awarded by the University will 
                                carry 60 ECTS credits. <a href="#">What Is ECTS?</a></p>
                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>${{total_fee}} Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>9-36 months</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Dual Certification</h3>
                                    <p>IMBA &amp; Scottish Diploma</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                     {% for accreditation in accreditations %}
                                       <p>{{accreditation.content}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <a href="#">Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="eligibility" role="tabpanel" aria-labelledby="eligibility-tab-classic">
                    <div class="fyi-tabs__eligibility">
                        <div class="fyi-tabs__eligibility_details">
                            <h2>Admission requirement</h2>
                            <div>
                                <h3>{{academic_route}}</h3>
                                <p>{{academic_route_desc | raw}}</p>
                            </div>
                            <div>
                                <h3>{{mature_entry_label}}</h3>
                                <p>{{mature_entry_desc | raw}}</p>
                            </div>
                            <div>
                                <h3>{{language_prof_label}}</h3>
                                <p>{{language_prof_desc | raw}}</p>
                            </div>
                      <!--      <p class="knowmore">To know more about our partnership with Guglielmo Marconi University, please visit their 
                                official website - 
                                <a href="https://www.gmuonline.org/en/partnerships/collaboration-agreements">
                                    https://www.gmuonline.org/en/partnerships/collaboration-agreements</a></p> -->
                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>${{total_fee}} Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>9-36 months</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Dual Certification</h3>
                                    <p>IMBA &amp; Scottish Diploma</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                    {% for accreditation in accreditations %}
                                       <p>{{accreditation.content}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <a href="#">Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="why-athena" role="tabpanel" aria-labelledby="why-athena-tab-classic">
                    <div class="fyi-tabs__why-athena">
                        <div class="fyi-tabs__why-athena_details">
                            <h2>Why Athena ?</h2>
                            {{why_athena | raw}}
                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>$5,000 Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>9-36 months</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Dual Certification</h3>
                                    <p>IMBA &amp; Scottish Diploma</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="{{base_path}}/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                     {% for accreditation in accreditations %}
                                       <p>{{accreditation.content}}</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <a href="#">Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>


<div class="partners-tabs">
        <div class="wrapper">
            <h1>Partners of this Programme</h1>
            <div class="classic-tabs"> <!-- Bootstrap Tabs -->

                <ul class="nav tabs-cyan" id="myClassicTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link  waves-light active show" id="guglielmo-tab-classic" data-toggle="tab" href="#guglielmo" role="tab" aria-controls="guglielmo-classic" aria-selected="true">Guglielmo Marconi University, Italy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" id="scottish-module-tab-classic" data-toggle="tab" href="#scottish" role="tab" aria-controls="scottish-module-classic" aria-selected="false">Scottish Qualification Authority, UK</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link waves-light" id="chartered-tab-classic" data-toggle="tab" href="#chartered" role="tab" aria-controls="chartered-classic" aria-selected="false">Chartered Management Institute, UK</a>
                    </li>
                </ul>
                <div class="tab-content rounded-bottom" id="myClassicTabContent">
                    <div class="tab-pane fade active show" id="guglielmo" role="tabpanel" aria-labelledby="guglielmo-tab-classic">
                        <div class="partners-tabs__mba">
                            <div class="partners-tabs__mba-text">
                                <div class="content">
                                    <h2>Master of Business Administration (MBA) – 60 ECTS Credits</h2>
                                    <p>Guglielmo Marconi University (GMU) is based in Rome, Italy and recognized by the Ministerial 
                                        Decree of March 1, 2004. GMU’s main campuses are based in Rome, and are located around Prati 
                                        and Vatican neighborhoods. Currently, GMU counts more than 16,000 students enrolled in graduate 
                                        andGuglielmo Marconi University (GMU) is based in Rome, Italy and recognized by the Ministerial 
                                        Decree of March 1, 2004. GMU’s main campuses </p>
                                    <img src="{{base_path}}/images/coursepage/gmu-logo.svg" alt="uni-logo">
                                </div>
                                <div class="certificate">
                                    <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel" data-interval="false">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <!-- Button to trigger Modal -->
                                                <button type="button" class="cover" data-toggle="modal" data-target="#certificate1">
                                                    <img class="d-block w-100" src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="certificate1" tabindex="-1" aria-labelledby="certificate1ModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <!-- Button to trigger Modal -->
                                                <button type="button" class="cover" data-toggle="modal" data-target="#certificate2">
                                                    <img class="d-block w-100" src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="certificate2" tabindex="-1" aria-labelledby="certificate2ModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <!-- Button to trigger Modal -->
                                                <button type="button" class="cover" data-toggle="modal" data-target="#certificate3">
                                                    <img class="d-block w-100" src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="certificate3" tabindex="-1" aria-labelledby="certificate3ModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <img src="{{base_path}}/images/coursepage/prev.svg" alt="previous">
                                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span> -->
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                            <img src="{{base_path}}/images/coursepage/next.svg" alt="next">
                                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span> -->
                                        </a>
                                    </div>
                                    <p>Click to Enlarge</p>
                                </div>
                                <p class="note">*All certificate and transcript images are for illustrative purposes only and may be 
                                    subject to change at the discretion of respective Universities or Awarding Bodies.</p>
                            </div>
                            <div class="partners-tabs__mba-img"></div>
                        </div>
                        <div class="partners-tabs__msg">
                            <div class="partners-tabs__msg-person">
                                <img src="{{base_path}}/images/coursepage/rector.svg" alt="msg author">
                                <h3>Message from the Rector</h3>
                                <p>Prof. Alessandra Briganti</p>
                                <p>Rector Guglielmo Marconi University</p>
                            </div>
                            <div class="partners-tabs__msg-text">
                                <p>Guglielmo Marconi University, modeled around education and research, promotes innovative ICT-based 
                                    educational methodologies, stimulating students to develop high cognitive and practical competences. 
                                    The strong point of this educational system is the focus on the current educational demands required 
                                    by the ever-changing working environment. By considering these developments, GMU offers students 
                                    high-quality market-oriented courses. We have been continuously growing our presence around the 
                                    world through many strategic partnerships during past years and the <span>Westford Education Group</span> was 
                                    the one of the major partnerships which has been very successful since 2015.</p>
                                <p>Athena Global Education is a new venture of Westford Education Group. A future ready education 
                                    solution, Athena Global Education utilizes the latest technology aimed at improving the students’ 
                                    experience. We are happy to have partnered for this new project and are eager to expand our 
                                    partnership into different domains. The association with Westford Group has produced hundreds of 
                                    graduates in past years and we look forward to enhancing the portfolio and <span>providing accessibility 
                                        to education around the world.</span></p>
                            </div>
                        </div>
                        <div class="partners-tabs__msg partners-tabs__msgvideo">
                            <div class="partners-tabs__msg-video partners-tabs__msgvideo-video">
                                <div class="video">
                                    <!-- change this test video with real video -->
                                    <iframe src="https://player.vimeo.com/video/463849042" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class="partners-tabs__msg-person partners-tabs__msgvideo-person">
                                <img src="{{base_path}}/images/coursepage/dean.svg" alt="Dean">
                                <h3>Message from the Dean</h3>
                                <p>GMU Business School, Italy</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="scottish" role="tabpanel" aria-labelledby="scottish-tab-classic">
                        <div class="partners-tabs__mba">
                            <div class="partners-tabs__mba-text">
                                <div class="content">
                                    <h2>Master of Business Administration (MBA) – 60 ECTS Credits</h2>
                                    <p>Guglielmo Marconi University (GMU) is based in Rome, Italy and recognized by the Ministerial 
                                        Decree of March 1, 2004. GMU’s main campuses are based in Rome, and are located around Prati 
                                        and Vatican neighborhoods. Currently, GMU counts more than 16,000 students enrolled in graduate 
                                        andGuglielmo Marconi University (GMU) is based in Rome, Italy and recognized by the Ministerial 
                                        Decree of March 1, 2004. GMU’s main campuses </p>
                                    <img src="{{base_path}}/images/coursepage/gmu-logo.svg" alt="uni-logo">
                                </div>
                                <div class="certificate">
                                    <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel" data-interval="false">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <!-- Button to trigger Modal -->
                                                <button type="button" class="cover" data-toggle="modal" data-target="#certificate2">
                                                    <img class="d-block w-100" src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="certificate2" tabindex="-1" aria-labelledby="certificate1ModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <!-- Button to trigger Modal -->
                                                <button type="button" class="cover" data-toggle="modal" data-target="#certificate2">
                                                    <img class="d-block w-100" src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="certificate2" tabindex="-1" aria-labelledby="certificate2ModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <!-- Button to trigger Modal -->
                                                <button type="button" class="cover" data-toggle="modal" data-target="#certificate3">
                                                    <img class="d-block w-100" src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="certificate3" tabindex="-1" aria-labelledby="certificate3ModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <img src="{{base_path}}/images/coursepage/prev.svg" alt="previous">
                                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span> -->
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                            <img src="{{base_path}}/images/coursepage/next.svg" alt="next">
                                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span> -->
                                        </a>
                                    </div>
                                    <p>Click to Enlarge</p>
                                </div>
                                <p class="note">*All certificate and transcript images are for illustrative purposes only and may be 
                                    subject to change at the discretion of respective Universities or Awarding Bodies.</p>
                            </div>
                            <div class="partners-tabs__mba-img"></div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="chartered" role="tabpanel" aria-labelledby="chartered-tab-classic">
                        <div class="partners-tabs__mba">
                            <div class="partners-tabs__mba-text">
                                <div class="content">
                                    <h2>Master of Business Administration (MBA) – 60 ECTS Credits</h2>
                                    <p>Guglielmo Marconi University (GMU) is based in Rome, Italy and recognized by the Ministerial 
                                        Decree of March 1, 2004. GMU’s main campuses are based in Rome, and are located around Prati 
                                        and Vatican neighborhoods. Currently, GMU counts more than 16,000 students enrolled in graduate 
                                        andGuglielmo Marconi University (GMU) is based in Rome, Italy and recognized by the Ministerial 
                                        Decree of March 1, 2004. GMU’s main campuses </p>
                                    <img src="{{base_path}}/images/coursepage/gmu-logo.svg" alt="uni-logo">
                                </div>
                                <div class="certificate">
                                    <div id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel" data-interval="false">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <!-- Button to trigger Modal -->
                                                <button type="button" class="cover" data-toggle="modal" data-target="#certificate3">
                                                    <img class="d-block w-100" src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="certificate3" tabindex="-1" aria-labelledby="certificate1ModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <!-- Button to trigger Modal -->
                                                <button type="button" class="cover" data-toggle="modal" data-target="#certificate2">
                                                    <img class="d-block w-100" src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="certificate2" tabindex="-1" aria-labelledby="certificate2ModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <!-- Button to trigger Modal -->
                                                <button type="button" class="cover" data-toggle="modal" data-target="#certificate3">
                                                    <img class="d-block w-100" src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="certificate3" tabindex="-1" aria-labelledby="certificate3ModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="{{base_path}}/images/coursepage/certificatesample.png" alt="First slide">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                            <img src="{{base_path}}/images/coursepage/prev.svg" alt="previous">
                                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span> -->
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                            <img src="{{base_path}}/images/coursepage/next.svg" alt="next">
                                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span> -->
                                        </a>
                                    </div>
                                    <p>Click to Enlarge</p>
                                </div>
                                <p class="note">*All certificate and transcript images are for illustrative purposes only and may be 
                                    subject to change at the discretion of respective Universities or Awarding Bodies.</p>
                            </div>
                            <div class="partners-tabs__mba-img"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    
    
    <div class="adm-process">
        <div class="wrapper">
            <h1>Admission Process</h1>
            <p>Please find below the detailed steps to be followed as a part of the admission process.</p>
            <div class="admission-steps-card-container">
                <div class="admission-steps-card">
                    <div>
                        <img src="{{base_path}}/images/coursepage/admission1.svg" alt="icon">
                        <h3>Step 1 :<span>Register for a free trial</span></h3>
                    </div>
                    <p>Register for a free trial and get complete access to the first module of this MBA program 
                        for 7 days without any obligations.</p>
                </div>
                <div class="admission-steps-card">
                    <div>
                        <img src="{{base_path}}/images/coursepage/admission2.svg" alt="icon">
                        <h3>Step 2 :<span>Submit online enrollment form</span></h3>
                    </div>
                    <p>If you are satisfied with the learning, start your enrollment process by using ‘Enroll Now’ 
                        option in the learning dashboard.</p>
                </div>
                <div class="admission-steps-card">
                    <div>
                        <img src="{{base_path}}/images/coursepage/admission3.svg" alt="icon">
                        <h3>Step 3 :<span>Pay &amp; Start</span></h3>
                    </div>
                    <p>Once your applications is approved, the fee payment option will be activated in your LMS 
                        and you will be able to make the payment.</p>
                </div>
            </div>
        </div>
    </div>