<head>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/css/intlTelInput.css' rel='stylesheet' type='text/css'>
    </head>

<div class="fyi-tabs">
    <div class="wrapper">
        <div class="classic-tabs"> <!-- Bootstrap Tabs -->

            <ul class="nav tabs-cyan" id="myClassicTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link waves-light show active" id="overview-tab-classic" data-toggle="tab" href="#overview" role="tab" aria-controls="overview-classic" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="course-module-tab-classic" data-toggle="tab" href="#course-module" role="tab" aria-controls="course-module-classic" aria-selected="false">Course Modules &amp; Fee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="eligibility-tab-classic" data-toggle="tab" href="#eligibility" role="tab" aria-controls="eligibility-classic" aria-selected="false">Eligibility</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-light" id="why-athena-tab-classic" data-toggle="tab" href="#why-athena" role="tab" aria-controls="why-athena-classic" aria-selected="false">Why Athena?</a>
                </li>
            </ul>
            <div class="tab-content rounded-bottom" id="myClassicTabContent">
                <div class="tab-pane fade active show" id="overview" role="tabpanel" aria-labelledby="overview-tab-classic">
                    <div class="fyi-tabs__overview">
                        <div class="fyi-tabs__overview-list">
                            {{overview | raw}}
                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>${{total_fee}} Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>{{duration}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>{{certification_label}}</h3>
                                    <p>{{certification}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                                {% if node.field_course_accreditations.0.value is not empty %}
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                               <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                        <p>{{ node.field_course_accreditations.0.value|raw }}</p>
 <p>{{ node.field_course_accreditations.1.value|raw }}</p>


                                </div>
                            </div>
                                {% endif %}
                            <div class="overview-points-card__container">
                                 {% if source is not empty %}
<a href="{{ url('<front>') }}registration?cid={{node.field_cid.value}}&utm_source={{source}}&utm_campaign={{campaign}}" >
  {% else %}
<a href="{{ url('<front>') }}registration?cid={{node.field_cid.value}}" >
 {% endif %}Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="course-module" role="tabpanel" aria-labelledby="course-module-tab-classic">
                    <div class="fyi-tabs__course-modules">
                        <div class="fyi-tabs__course-modules__details">
                                <h2>Course Modules &amp; Fee</h2>
                                <p>{{course_details | raw}}
                                </p>
                                <div class="desc-container">

                                   {% for module_fee_data in node.field_course_module_fees %}
                                    <div class="desc">
                                        <p>{{ module_fee_data.entity.field_fee_label.value }}</p>
                                        <p><span>${{ module_fee_data.entity.field_paragraphh_module_fees.value|striptags }}</span>{{ module_fee_data.entity.field_fee_description.value|striptags }}</p>
                                    </div>

                                    {% endfor %}

                                </div>
                                <a href="#whatYouLearn">Go to Module Details</a>

                                {% for tax_value_detail in tax_value %}

                                {% if tax_value_detail == "Degree" %}
                                <p class="italic"><span>*ECTS</span> equivalency chart is for comparison purpose only and doesn't reflect
                                    the exact mapping information, however the final MBA awarded by the University will
                                    carry 60 ECTS credits. <a href="{{ url('<front>') }}/ects">What Is ECTS?</a></p>

                                {% endif %}
                                {% endfor %}                                

                            </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>${{total_fee}} Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>{{duration}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>{{certification_label}}</h3>
                                    <p>{{certification}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                {% if node.field_course_accreditations.0.value != '' %}
                                <img src="/themes/custom/athena/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                               <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                        <p>{{ node.field_course_accreditations.0.value|raw }}</p>
 <p>{{ node.field_course_accreditations.1.value|raw }}</p>


                                </div>
                                {% endif %}
                            </div>
                            <div class="overview-points-card__container">
                             {% if source is not empty %}
<a href="{{ url('<front>') }}registration?cid={{node.field_cid.value}}&utm_source={{source}}&utm_campaign={{campaign}}" >
  {% else %}
<a href="{{ url('<front>') }}registration?cid={{node.field_cid.value}}" >
 {% endif %}
                                Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="eligibility" role="tabpanel" aria-labelledby="eligibility-tab-classic">
                    <div class="fyi-tabs__eligibility">
                        <div class="fyi-tabs__eligibility_details">
                            <h2>Admission requirement</h2>
                            <div>
                                <h3>{{academic_route}}</h3>
                                <p>{{academic_route_desc | raw}}</p>
                            </div>
                            <div>
                                <h3>{{mature_entry_label}}</h3>
                                <p>{{mature_entry_desc | raw}}</p>
                            </div>
                            <div>
                                <h3>{{language_prof_label}}</h3>
                                <p>{{language_prof_desc | raw}}</p>
                            </div>
                      <!--      <p class="knowmore">To know more about our partnership with Guglielmo Marconi University, please visit their
                                official website -
                                <a href="https://www.gmuonline.org/en/partnerships/collaboration-agreements">
                                    https://www.gmuonline.org/en/partnerships/collaboration-agreements</a></p> -->
                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>${{total_fee}} Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>{{duration}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>{{certification_label}}</h3>
                                    <p>{{certification}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                {% if node.field_courses_credit_type.0.value != 'CIQ' %}
                                <img src="/themes/custom/athena/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                               <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                        <p>{{ node.field_course_accreditations.0.value|raw }}</p>
 <p>{{ node.field_course_accreditations.1.value|raw }}</p>


                                </div>
                                {% endif %}
                            </div>
                            <div class="overview-points-card__container">
                                 {% if source is not empty %}
<a href="{{ url('<front>') }}registration?cid={{node.field_cid.value}}&utm_source={{source}}&utm_campaign={{campaign}}" >
  {% else %}
<a href="{{ url('<front>') }}registration?cid={{node.field_cid.value}}" >
 {% endif %}
 Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="why-athena" role="tabpanel" aria-labelledby="why-athena-tab-classic">
                    <div class="fyi-tabs__why-athena">
                        <div class="fyi-tabs__why-athena_details">
                            <h2>Why Athena ?</h2>
                            <div>
<h3>Flexible </h3>

<p>At Athena, you are in charge of your learning! You get to decide the pace of your learning based on your financial and time availability. The learning structure is modular, ensuring pace, effectiveness and momentum of your learning journey. With this bytes sized learning format you get to learn anywhere, anytime.
</p>
</div>

<div>
<h3>Affordable</h3>

<p>With Athena as your learning partner, you follow a ‘Pay as you Go Scheme’ for your program, that means no upfront bulk payment of your fee. Instead your fee will be divided into small pocket friendly installments distributed  across your program.</p>
</div>

<div>
<h3>Accredited &amp; Globaly Accepted</h3>

<p>Athena Global Education has partnered with reputed Universities and Awarding bodies, all of which are fully accredited by governmental regulatory bodies in their respective countries. Universities are NARIC Approved and are part of European Higher education, Bologna process, making the programs recognised worldwide.</p>
</div>

<div>
<h3>Stackable</h3>

<p>Byte sized learning formats ensure that each learning item carries tangible value in terms of learning outcome, which allows learners to stack or combine small units into higher education credits toward a degree or diploma. At any point of time during your course, you can claim a certificate/diploma based on the credits you have earned so far.</p>
</div>

                        </div>
                        <div class="overview-points-card">
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/fee.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>${{total_fee}} Total Fee</h3>
                                    <p>Pay Per Module</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/course-flexible.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Flexible</h3>
                                    <p>{{duration}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/course-certification.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>{{certification_label}}</h3>
                                    <p>{{certification}}</p>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                <img src="/themes/custom/athena/images/coursepage/cousre-completlyonline.svg" alt="icon" class="overview-points-card__container-img">
                                <div class="overview-points-card__container-contains">
                                    <h3>Completely Online</h3>
                                </div>
                            </div>
                            <div class="overview-points-card__container">
                                 {% if node.field_course_accreditations.0.value != '' %}
                                <img src="/themes/custom/athena/images/coursepage/course-accreditation.svg" alt="icon" class="overview-points-card__container-img">
                               <div class="overview-points-card__container-contains">
                                    <h3>Accreditations</h3>
                                        <p>{{ node.field_course_accreditations.0.value|raw }}</p>
 <p>{{ node.field_course_accreditations.1.value|raw }}</p>


                                </div>
                                {% endif %}

                            </div>
                            <div class="overview-points-card__container">
                                 {% if source is not empty %}
<a href="{{ url('<front>') }}registration?cid={{node.field_cid.value}}&utm_source={{source}}&utm_campaign={{campaign}}" >
  {% else %}
<a href="{{ url('<front>') }}registration?cid={{node.field_cid.value}}" >
 {% endif %}Take a Free Trial Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="partners-tabs">
        <div class="wrapper">
            <h1>Partners of this Programme</h1>
            <div class="classic-tabs"> <!-- Bootstrap Tabs -->

                {% set nummact = 1 %}
 {% set activeclass = '' %}
                <ul class="nav tabs-cyan" id="myClassicTab" role="tablist">
                 {% for universities in univ_data	 %}

                  {% if nummact == 1 %}
                  {% set activeclass = 'active show' %}
                  {% else %}
                        {% set activeclass = '' %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link  waves-light {{activeclass}}" id="guglielmo-tab-classic" data-toggle="tab" href="#guglielmo{{nummact}}" role="tab" aria-controls="guglielmo-classic" aria-selected="true">
                        {{ universities.university.label }}</a>
                    </li>
                     {% set nummact = nummact+1 %}
                 {% endfor %}

                </ul>



                <div class="tab-content rounded-bottom" id="myClassicTabContent">
                  {% set numm = 1 %}
                  {% for universities in univ_data	 %}
                  {% if numm == 1 %}
                  {% set activeclasstab = 'active show' %}
                  {% else %}
                        {% set activeclasstab = '' %}
                    {% endif %}

                    <div class="tab-pane fade {{activeclasstab}}" id="guglielmo{{numm}}" role="tabpanel" aria-labelledby="guglielmo-tab-classic">
                        <div class="partners-tabs__mba">
                            <div class="partners-tabs__mba-text">
                                <div>
                                    <h2>{{ universities.university.label }}</h2>
                                    <p>{{universities.university.field_description.value|raw}} </p>

                                </div>
                                {% if universities.certificates is empty %}

                                {% else %}
                                <div class="certificate">
                                    <div id="carouselExampleIndicators{{numm}}" class="carousel slide" data-ride="carousel" data-interval="false">
                                        {% set carouselnum = 1 %}
                                        <div class="carousel-inner">
                                           {% for certificate in universities.certificates %}
                                         {% if carouselnum == 1 %}
                  {% set carouselnumclass = 'active' %}
                  {% else %}
                        {% set carouselnumclass = '' %}
                    {% endif %}



                                            <div class="carousel-item {{carouselnumclass}} ">
                                                <!-- Button to trigger Modal -->
                                                <button type="button" class="cover" data-toggle="modal" data-target="#certificate{{numm}}{{carouselnum}}">
                                                    <img class="d-block w-100" src="{{ certificate}}" alt="First slide">
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="certificate{{numm}}{{carouselnum}}" tabindex="-1" aria-labelledby="certificate1ModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="{{ certificate}}" alt="First slide">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


{% set carouselnum =  carouselnum+1 %}


                                        {% endfor %}
                                        </div>



                                        <a class="carousel-control-prev" href="#carouselExampleIndicators{{numm}}" role="button" data-slide="prev">
                                            <img src="/themes/custom/athena/images/coursepage/prev.svg" alt="previous">
                                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span> -->
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators{{numm}}" role="button" data-slide="next">
                                            <img src="/themes/custom/athena/images/coursepage/next.svg" alt="next">
                                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span> -->
                                        </a>
                                    </div>
                                    <p>Click to Enlarge</p>
                                </div>
                                {% endif %}
                                <p class="note">
                                 {% if universities.univ_logo is empty %}
                                    <img src="/themes/custom/athena/images/coursepage/gmu-logo.svg" alt="uni-logo"><br>
                                    {% else %}
                                    <img src="{{universities.univ_logo}}" alt="uni-logo"><br>
                                        {% endif %}
                                *All certificate and transcript images are for illustrative purposes only and may be
                                    subject to change at the discretion of respective Universities or Awarding Bodies.</p>
                            </div>
                            <div class="partners-tabs__mba-img"></div>
                        </div>

                        {% if universities.message|trim is not empty %}
                        <div class="partners-tabs__msg">
                            <div class="partners-tabs__msg-person">

                             {% if universities.recortimage|trim is empty %}
                                <img src="/themes/custom/athena/images/coursepage/rector.svg" alt="msg author">
                               {% else %}
                             <img src="{{universities.recortimage}}" alt="msg author">
                                         {% endif %}
                                <h3>{{universities.msg_title}}</h3>
                                <p>{{universities.prof_name}}</p>
                                <p>{{prof_univ}}</p>
                            </div>
                            <div class="partners-tabs__msg-text">
                               {{universities.message|raw}}
                            </div>
                        </div>
                        <div class="partners-tabs__msg partners-tabs__msgvideo">
                            <div class="partners-tabs__msg-video partners-tabs__msgvideo-video">
                                <div class="video">
                                    <!-- change this test video with real video -->
                                    <iframe src=" {{universities.dean_video}}" width="640" height="480" frameborder="0" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                                </div>
                            </div>
                            <div class="partners-tabs__msg-person partners-tabs__msgvideo-person">
                                <img src="/themes/custom/athena/images/coursepage/dean.svg" alt="Dean">
                                <h3>Message from the Dean</h3>
                                <p>{{dean_univ}}</p>
                            </div>
                        </div>

                       {% endif %}
                    </div>



                    {% set numm = numm+1 %}
                    {% endfor %}



                </div>

            </div>
        </div>
    </div>


    <div class="adm-process">
        <div class="wrapper">
            <h1>Admission Process</h1>
            <p>Please find below the detailed steps to be followed as a part of the admission process.</p>
            <div class="admission-steps-card-container">
                <div class="admission-steps-card">
                    <div>
                        <img src="/themes/custom/athena/images/coursepage/admission1.svg" alt="icon">
                        <h3>Step 1 :<span style="font-weight:bold">Register for a free trial</span></h3>
                    </div>
                    <p>Register for a free trial and get complete access to the first module of this program
                        for 7 days without any obligations.</p>
                </div>
                <div class="admission-steps-card">
                    <div>
                        <img src="/themes/custom/athena/images/coursepage/admission2.svg" alt="icon">
                        <h3>Step 2 :<span style="font-weight:bold">Submit online enrollment form</span></h3>
                    </div>
                    <p>If you are satisfied with the learning, start your enrollment process by using ‘Enroll Now’
                        option in the learning dashboard.</p>
                </div>
                <div class="admission-steps-card">
                    <div>
                        <img src="/themes/custom/athena/images/coursepage/admission3.svg" alt="icon">
                        <h3>Step 3 :<span style="font-weight:bold">Pay &amp; Start</span></h3>
                    </div>
                    <p>Once your applications is approved, the fee payment option will be activated in your LMS
                        and you will be able to make the payment.</p>
                </div>
            </div>
        </div>
    </div>


{# DBA batch profile #}


    {% if course_batch|length > 0%}
    <!--   Course Batch -->
        <div class="course-team">
            <div class="wrapper">
                <h2 style="text-align:center">Students Enrolled For the 1st Batch</h2>
                <p style="text-align:center">The program offers a well-structured coursework, designed to build<br> research
                competencies. This is followed by a research project that<br> aims to demonstrate
                the skills.</p>
                <div class="owl-carousel course-team-carousel owl-theme owl-loaded owl-drag">

                <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-299px, 0px, 0px); transition: all 0.25s ease 0s; width: 2093px;">
                 {% set courseteamnum = 1 %}
                 {% for course_team_data in course_batch %}
                 {% if courseteamnum == 1 %}
                      {% set cactiveclass = '' %}
                      {% else %}
                            {% set cactiveclass = 'active' %}
                        {% endif %}

                <div class="owl-item {{courseteamnum}}" style="width: auto;"><div class="item">
                        <div class="course-team-card">

                            <div class="team-img" style="cursor:pointer" onclick="window.location.href = '{{ course_team_data.linked_in}}';">

                                <a style="all:unset" href="{{ course_team_data.linked_in}}"> <img src="{{course_team_data.user_pic}}" alt="Team Member" style="opacity: 1;"></a>

                            </div>
                            <h3>{{course_team_data.name}}</h3>
                            <h4>{{course_team_data.designation}}</h4>
                            <p>{{course_team_data.description|striptags|truncate(75)}}</p>
                            <a style="display:none" href="{{ url('<front>') }}node/{{course_team_data.course_nid}}">Readmore</a>
                            <p><b>{{course_team_data.country}}</b><br>
                            <img src="{{course_team_data.country_flag}}" alt="country flag" style="opacity: 1;" </p>
                        </div>
                    </div>
                  </div>
                  {% set courseteamnum = courseteamnum+1 %}
                    {% endfor %}
                  </div></div>
                  <div class="owl-nav">

                    <button role="button" class="owl-dot">
                      <span></span>
                    </button>
                    <button role="button" class="owl-dot active">
                      <span></span>
                    </button>
                    <button role="button" class="owl-dot">
                      <span></span>
                    </button>
                    <button role="button" class="owl-dot">
                      <span></span>
                    </button>
                    <button role="button" class="owl-dot">
                      <span></span>
                    </button>

                    </div></div>
                <a class="button" href="#">View All</a>
            </div>
        </div>
    {% endif %}


{# DBA batch profile #}

    <div class="why-course" style="
    padding-bottom: 20px;
    background-color: #ff459a;
    color: #fff;">
        <div class="wrapper">
            <h1>Why this Course ?</h1>
            <div class="cover">
                <div class="why-course__text">

                 {% set whynum = 1 %}
                {% for whycourse in node.field_why_this_course %}
                    <div>
                        <h2>{{whynum}} {{ whycourse.entity.field_title.value }}</h2>
                        <p>{{ whycourse.entity.field_description.value|raw }}</p>
                    </div>
                    {% set whynum = whynum+1 %}
                {% endfor %}

                </div>
                <div class="course-resources-card">
                    <h3>Course Resources</h3>
                    <p>For more detailed information about the course, please click on the links below.</p>
                    <div>
                     {% if node.field_upload_brochure_.value is not empty %}
                        <a href="{{file_url(node.field_upload_brochure_.entity.uri.value)}}" target="_blank">Download Brochure</a>
                     {% endif %}
                     {% if node.field_upload_specifications.value is not empty %}
                        <a href="{{file_url(node.field_upload_specifications.entity.uri.value)}}" target="_blank">Course Specifications</a>
                     {% endif %}
                     {% if node.field_fact_sheet_document.value is not empty %}
                        <a href="{{ file_url(node.field_fact_sheet_document.entity.uri.value) }}" target="_blank">Course Fact Sheet</a>
                     {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>



    <a name="whatYouLearn"></a>
    <div class="what-learn">
        <div class="wrapper">
            <h2>What You Learn</h2>
            <p class="desc">This is your expected skill development and learning from the program</p>
            <div class="module-container" id="course-intro-card-container">
                {% set modnum = 1 %}
                {% for module in node.field_course_modules %}

                {% if modnum <=3 %}
 {% set modnumclass = 'hide show' %}
  {% else %}
   {% set modnumclass = 'hide' %}
{% endif %}
                <div class="module {{modnumclass}}">
                    <h3>Module {{modnum}}</h3>
                    {% set modnum = modnum + 1 %}
                    <div class="courses-intro-card">
                        <div class="img">
                             {% if module.entity.field_course_module_image.entity.uri.value|trim is not empty %}
                             <img src="{{file_url(module.entity.field_course_module_image.entity.uri.value) }}" alt="course image">
                              {% else %}
                            <img src="/themes/custom/athena/images/coursepage/module1.png" alt="course image">
                            {% endif %}
                            <!-- <a href="#"><img src="/themes/custom/athena/images/coursepage/video-play-icon.png" alt="icon"></a> -->
                        </div>
                        <div>
                            <h4>{{ module.entity.field_course_module_name.value }}</h4>
                            <p class="duration"><span>Duration:</span>
 {% if module.entity.field_module_duration.value|trim is not empty %}
 {{ module.entity.field_module_duration.value|trim }}
  {% else %}
  4 to 12 weeks
  {% endif %}

                            </p>
                            <p class="text">{{ module.entity.field_coursemodule_description.value|striptags }}</p>
                            {% if module.entity.field_module_level.value|trim is not empty %}
                            <p class="level"><span>Level:</span> {{ module.entity.field_module_level.value }}</p>
                            {% endif %}
                            {% if module.entity.field_module_credit.value|trim is not empty %}
                            <p class="credit"><span>Credits:</span> {{ module.entity.field_module_credit.value }}
                             {% if node.field_courses_credit_type.0.value|trim is not empty %}

                             {% endif %}
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}


                <div class="module-overlay"></div>
                <button id="course-show-more">Show More</button>
            </div>
        </div>
    </div>
    

    <div class="how-learn course-team">
        <div class="wrapper">
            <h2>How You Learn</h2>
            <p class="msg">Scientifically developed learning pedagogy, which ensures quality and effective learning experience for the learners. We ensure a seamless learning experience for students with varying levels of expertise on the subject matter.</p>
            <div class="owl-carousel owl-theme owl-loaded owl-drag">





            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1495px;"><div class="owl-item active" style="width: auto; margin-right: 20px;"><div class="item">
                    <div class="learn-card course-team-card">
                        <div class="team-img">
                            <img src="/themes/custom/athena/images/coursepage/video-class.svg" alt="image" style="opacity: 1;">
                        </div>
                        <h3>Video Classes</h3>
                        <p>The well developed customized online video lessons designed by our faculty will lay the foundation for your learning.
</p>
                    </div>
                </div></div><div class="owl-item active" style="width: auto; margin-right: 20px;"><div class="item">
                    <div class="learn-card course-team-card">
                        <div class="team-img">
                            <img src="/themes/custom/athena/images/coursepage/text-learning.svg" alt="image" style="opacity: 1;">
                        </div>
                        <h3>Text Learning Contents</h3>
                        <p>Multi-level learning resources including relevant journal articles, case studies, quizzes developed by our faculty will enhance your learning experience.</p>
                    </div>
                </div></div><div class="owl-item active" style="width: auto; margin-right: 20px;"><div class="item">
                    <div class="learn-card course-team-card">
                        <div class="team-img">
                            <img src="/themes/custom/athena/images/coursepage/personal-tutor.svg" alt="image" style="opacity: 1;">
                        </div>
                        <h3>Personal Tutor</h3>
                        <p>One to one personal tutor meetings will clarify your doubts and also provide guidance on your assignments.
</p>
                    </div>
                </div></div><div class="owl-item active" style="width: auto; margin-right: 20px;"><div class="item">
                    <div class="learn-card course-team-card">
                        <div class="team-img">
                            <img src="/themes/custom/athena/images/coursepage/online-library.svg" alt="image" style="opacity: 1;">
                        </div>
                        <h3>Online Library</h3>
                        <p>You get unlimited access to the online library which consists of a large collection of books, journals, articles, white papers, videos, case studies, and other publications.
</p>
                    </div>
                </div></div><div class="owl-item" style="width: auto; margin-right: 20px;"><div class="item">
                    <div class="learn-card course-team-card">
                        <div class="team-img">
                            <img src="/themes/custom/athena/images/coursepage/collaborative-learning.svg" alt="image" style="opacity: 1;">
                        </div>
                        <h3>Collaborative Learning</h3>
                        <p>Discussion Forum, webinars, business scenario presentations, debates will extend your learning beyond the curriculum and open a new world before you.
                        </p>
                    </div>
                </div></div></div></div>
                </div>
            <a class="button" href="#">View All</a>
        </div>
    </div>


    <div class="what-you-get">
        <div class="wrapper">
            <h2>What You Get</h2>
            <p class="msg">You will be receiving the following certificates as specified below:</p>
            <div class="container-box">
				  {% set whynum = 1 %}
				 {% for why_coursedata in why_course %}
                <div class="contains">
                 {% if why_coursedata.logo_url is empty %}
                                    <img src="/themes/custom/athena/images/coursepage/degree-mba.svg" alt="icon">
                                    {% else %}
                                   <img src="{{why_coursedata.logo_url}}" style="height:45px;width:52px"alt="icon">
                                        {% endif %}

                    <p>{{why_coursedata.degree}} issued by <span>{{why_coursedata.issued_by}} </span>.
                     {% if why_coursedata.certificates_url|trim is not empty %}
                        <a class="cover" data-toggle="modal" data-target="#certificateModal{{whynum}}">(view sample)</a>
                         {% endif %}
                        </p>

                    <!-- Modal Starts -->
                    <div class="modal fade" id="certificateModal{{whynum}}" tabindex="-1" aria-labelledby="certificate1ModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{why_coursedata.certificates_url}}" alt="First slide">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Ends -->
                </div>
                {% set whynum = whynum+1 %}
                {% endfor %}

                <p class="note">All certificate and transcript images are for illustrative purposes only and may be subject to change at the discretion of respective Universities or Awarding Bodies.</p>

            </div>
        </div>
    </div>


    <div class="our-students-say">
        <div class="wrapper">
            <h2>And Our Students Says</h2>
            <div class="testimonials_updated" >
                <div id="carouseIndicators" class="carousel slide pointer-event" data-ride="carousel" data-interval="3500">
                    <ol class="carousel-indicators">
                      <li data-target="#carouseIndicators" data-slide-to="0" class=""></li>
                      <li data-target="#carouseIndicators" data-slide-to="1" class=""></li>
                      <li data-target="#carouseIndicators" data-slide-to="2" class="active"></li>
                    </ol>
                    <div class="carousel-inner">
                    {% for testidata in testi %}
                        {% if loop.index ==1 %}
                        <div class="carousel-item active">
                        {% else %}
                        <div class="carousel-item">
                        {% endif %}
                            <div class="testimonial">
                                <div>
                                    <img src="{{ file_url(testidata.field_testimonial_thumbnail_imag[0].entity.uri.value)}}" alt="student" class="studentImg" style="border-radius: 50%;">
                                    <p class="msg">
                                    {% set text = testidata.field_testimonial_text.value|render|striptags %}
                                    {{ text|length > 210 ? text|slice(0, 210) ~ '...' : text }}
                                    </p>
                                    <div class="detail">
                                        {{testidata.field_testimonial_name_and_desig.value|raw}}
                                    </div>
                                    <a href="{{testidata.field_testimonial_linkedin_profi.value}}" class="linkedin"><img src="/themes/custom/athena/images/coursepage/courseteam-linkedin.svg" alt="linkedin"></a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="forms">
                <div class="register">
                    <h3>Ready to Start ?</h3>
                    <p>It is really easy to start with us. You can register for this course with minimum details and get access to one of the modules of this course for 7 days. During this period, you may enroll in this course by submitting the required documents and making a module fee.</p>
                    <a href="{{ url('<front>') }}/registration">Register Now for 7 day trial</a>
                </div>
                <div class="container-fluid p-0 about-us-wrapper form">
                    <div class="course-login-wrapper">
                        <div class="login-details">
                        <form  id="speak_to_advisor" method="post">
                            <h2>Still Not Sure ?</h2>
                            <h3>Speak to an Advisor<span>&nbsp;</span></h3>
                            <p>Interested in more information ? Submit a request for call back from our Admission Counsellor </p>
                            <div class="login-item names">
                                <div class="name-item">
                                    <p>First Name</p>
                                    <input type="text" id="speak_first_name" name="speak_first_name" placeholder="Enter First Name">
                                </div>
                                <div class="name-item">
                                    <p>Last Name</p>
                                    <input type="text" id="speak_last_name" name="speak_last_name" placeholder="Enter Last Name">
                                </div>
                            </div>
                            <div class="login-item">
                                <p>Email</p>
                                <input type="email" id="speak_email" name="speak_email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Enter Email Address">
                            </div>
                            <div class="login-item" style="display:none">
                                <p>Country</p>
                                <select name="ddlCountry" id="speak_country" name="speak_country" tabindex="7" class="form-control ">
	<option value="">Choose Country of Residence</option>
	<option value="1">Afghanistan</option>
	<option value="2">Albania</option>
	<option value="3">Algeria</option>
	<option value="4">American Samoa</option>
	<option value="5">Andorra</option>
	<option value="6">Angola</option>
	<option value="7">Anguilla</option>
	<option value="8">Antarctica</option>
	<option value="9">Antigua and Barbuda</option>
	<option value="10">Argentina</option>
	<option value="11">Armenia</option>
	<option value="12">Aruba</option>
	<option value="13">Australia</option>
	<option value="14">Austria</option>
	<option value="15">Azerbaijan</option>
	<option value="16">Bahamas</option>
	<option value="17">Bahrain</option>
	<option value="18">Bangladesh</option>
	<option value="19">Barbados</option>
	<option value="20">Belarus</option>
	<option value="21">Belgium</option>
	<option value="22">Belize</option>
	<option value="23">Benin</option>
	<option value="24">Bermuda</option>
	<option value="25">Bhutan</option>
	<option value="26">Bolivia</option>
	<option value="27">Bosnia and Herzegovina</option>
	<option value="28">Botswana</option>
	<option value="29">Bouvet Island</option>
	<option value="30">Brazil</option>
	<option value="31">British Indian Ocean Territory</option>
	<option value="32">Brunei Darussalam</option>
	<option value="33">Bulgaria</option>
	<option value="34">Burkina Faso</option>
	<option value="35">Burundi</option>
	<option value="36">Cambodia</option>
	<option value="37">Cameroon</option>
	<option value="38">Canada</option>
	<option value="39">Cape Verde</option>
	<option value="40">Cayman Islands</option>
	<option value="41">Central African Republic</option>
	<option value="42">Chad</option>
	<option value="43">Chile</option>
	<option value="44">China</option>
	<option value="45">Christmas Island</option>
	<option value="46">Cocos (Keeling) Islands</option>
	<option value="47">Colombia</option>
	<option value="48">Comoros</option>
	<option value="49">Congo</option>
	<option value="50">Congo, Democratic Republic of the Congo</option>
	<option value="51">Cook Islands</option>
	<option value="52">Costa Rica</option>
	<option value="53">Cote D'Ivoire</option>
	<option value="54">Croatia</option>
	<option value="55">Cuba</option>
	<option value="56">Cyprus</option>
	<option value="57">Czech Republic</option>
	<option value="58">Denmark</option>
	<option value="59">Djibouti</option>
	<option value="60">Dominica</option>
	<option value="61">Dominican Republic</option>
	<option value="62">Ecuador</option>
	<option value="63">Egypt</option>
	<option value="64">El Salvador</option>
	<option value="65">Equatorial Guinea</option>
	<option value="66">Eritrea</option>
	<option value="67">Estonia</option>
	<option value="68">Ethiopia</option>
	<option value="69">Falkland Islands (Malvinas)</option>
	<option value="70">Faroe Islands</option>
	<option value="71">Fiji</option>
	<option value="72">Finland</option>
	<option value="73">France</option>
	<option value="74">French Guiana</option>
	<option value="75">French Polynesia</option>
	<option value="76">French Southern Territories</option>
	<option value="77">Gabon</option>
	<option value="78">Gambia</option>
	<option value="79">Georgia</option>
	<option value="80">Germany</option>
	<option value="81">Ghana</option>
	<option value="82">Gibraltar</option>
	<option value="83">Greece</option>
	<option value="84">Greenland</option>
	<option value="85">Grenada</option>
	<option value="86">Guadeloupe</option>
	<option value="87">Guam</option>
	<option value="88">Guatemala</option>
	<option value="89">Guinea</option>
	<option value="90">Guinea-Bissau</option>
	<option value="91">Guyana</option>
	<option value="92">Haiti</option>
	<option value="93">Heard Island and Mcdonald Islands</option>
	<option value="94">Holy See (Vatican City State)</option>
	<option value="95">Honduras</option>
	<option value="96">Hong Kong</option>
	<option value="97">Hungary</option>
	<option value="98">Iceland</option>
	<option selected="selected" value="99">India</option>
	<option value="100">Indonesia</option>
	<option value="101">Iran, Islamic Republic of</option>
	<option value="102">Iraq</option>
	<option value="103">Ireland</option>
	<option value="104">Israel</option>
	<option value="105">Italy</option>
	<option value="106">Jamaica</option>
	<option value="107">Japan</option>
	<option value="108">Jordan</option>
	<option value="109">Kazakhstan</option>
	<option value="110">Kenya</option>
	<option value="111">Kiribati</option>
	<option value="112">Korea, Democratic People's Republic of</option>
	<option value="113">Korea, Republic of</option>
	<option value="114">Kuwait</option>
	<option value="115">Kyrgyzstan</option>
	<option value="116">Lao People's Democratic Republic</option>
	<option value="117">Latvia</option>
	<option value="118">Lebanon</option>
	<option value="119">Lesotho</option>
	<option value="120">Liberia</option>
	<option value="121">Libyan Arab Jamahiriya</option>
	<option value="122">Liechtenstein</option>
	<option value="123">Lithuania</option>
	<option value="124">Luxembourg</option>
	<option value="125">Macao</option>
	<option value="126">Macedonia, the Former Yugoslav Republic of</option>
	<option value="127">Madagascar</option>
	<option value="128">Malawi</option>
	<option value="129">Malaysia</option>
	<option value="130">Maldives</option>
	<option value="131">Mali</option>
	<option value="132">Malta</option>
	<option value="133">Marshall Islands</option>
	<option value="134">Martinique</option>
	<option value="135">Mauritania</option>
	<option value="136">Mauritius</option>
	<option value="137">Mayotte</option>
	<option value="138">Mexico</option>
	<option value="139">Micronesia, Federated States of</option>
	<option value="140">Moldova, Republic of</option>
	<option value="141">Monaco</option>
	<option value="142">Mongolia</option>
	<option value="143">Montserrat</option>
	<option value="144">Morocco</option>
	<option value="145">Mozambique</option>
	<option value="146">Myanmar</option>
	<option value="147">Namibia</option>
	<option value="148">Nauru</option>
	<option value="149">Nepal</option>
	<option value="150">Netherlands</option>
	<option value="151">Netherlands Antilles</option>
	<option value="152">New Caledonia</option>
	<option value="153">New Zealand</option>
	<option value="154">Nicaragua</option>
	<option value="155">Niger</option>
	<option value="156">Nigeria</option>
	<option value="157">Niue</option>
	<option value="158">Norfolk Island</option>
	<option value="159">Northern Mariana Islands</option>
	<option value="160">Norway</option>
	<option value="161">Oman</option>
	<option value="162">Pakistan</option>
	<option value="163">Palau</option>
	<option value="164">Palestinian Territory, Occupied</option>
	<option value="165">Panama</option>
	<option value="166">Papua New Guinea</option>
	<option value="167">Paraguay</option>
	<option value="168">Peru</option>
	<option value="169">Philippines</option>
	<option value="170">Pitcairn</option>
	<option value="171">Poland</option>
	<option value="172">Portugal</option>
	<option value="173">Puerto Rico</option>
	<option value="174">Qatar</option>
	<option value="175">Reunion</option>
	<option value="176">Romania</option>
	<option value="177">Russian Federation</option>
	<option value="178">Rwanda</option>
	<option value="179">Saint Helena</option>
	<option value="180">Saint Kitts and Nevis</option>
	<option value="181">Saint Lucia</option>
	<option value="182">Saint Pierre and Miquelon</option>
	<option value="183">Saint Vincent and the Grenadines</option>
	<option value="184">Samoa</option>
	<option value="185">San Marino</option>
	<option value="186">Sao Tome and Principe</option>
	<option value="187">Saudi Arabia</option>
	<option value="188">Senegal</option>
	<option value="189">Serbia and Montenegro</option>
	<option value="190">Seychelles</option>
	<option value="191">Sierra Leone</option>
	<option value="192">Singapore</option>
	<option value="193">Slovakia</option>
	<option value="194">Slovenia</option>
	<option value="195">Solomon Islands</option>
	<option value="196">Somalia</option>
	<option value="197">South Africa</option>
	<option value="198">South Georgia and the South Sandwich Islands</option>
	<option value="240">South Sudan</option>
	<option value="199">Spain</option>
	<option value="200">Sri Lanka</option>
	<option value="201">Sudan</option>
	<option value="202">Suriname</option>
	<option value="203">Svalbard and Jan Mayen</option>
	<option value="204">Swaziland</option>
	<option value="205">Sweden</option>
	<option value="206">Switzerland</option>
	<option value="207">Syrian Arab Republic</option>
	<option value="208">Taiwan, Province of China</option>
	<option value="209">Tajikistan</option>
	<option value="210">Tanzania, United Republic of</option>
	<option value="211">Thailand</option>
	<option value="212">Timor-Leste</option>
	<option value="213">Togo</option>
	<option value="214">Tokelau</option>
	<option value="215">Tonga</option>
	<option value="216">Trinidad and Tobago</option>
	<option value="217">Tunisia</option>
	<option value="218">Turkey</option>
	<option value="219">Turkmenistan</option>
	<option value="220">Turks and Caicos Islands</option>
	<option value="221">Tuvalu</option>
	<option value="222">Uganda</option>
	<option value="223">Ukraine</option>
	<option value="224">United Arab Emirates</option>
	<option value="225">United Kingdom</option>
	<option value="226">United States</option>
	<option value="227">United States Minor Outlying Islands</option>
	<option value="228">Uruguay</option>
	<option value="229">Uzbekistan</option>
	<option value="230">Vanuatu</option>
	<option value="231">Venezuela</option>
	<option value="232">Viet Nam</option>
	<option value="233">Virgin Islands, British</option>
	<option value="234">Virgin Islands, U.s.</option>
	<option value="235">Wallis and Futuna</option>
	<option value="236">Western Sahara</option>
	<option value="237">Yemen</option>
	<option value="238">Zambia</option>
	<option value="239">Zimbabwe</option>

</select>
                            </div>
                            <div class="login-item phone-number">
                                <p>Mobile Number</p>
                                <input type="tel" id="phone" name="phone" placeholder="Enter Mobile number">
                                <span id="valid-msg" class="hide">✓ Valid</span>
                                <span id="error-msg" class="hide"></span>
                            </div>

                            <div class="button">
                             <input type="hidden" id="speak_courseid" value="{{node.field_cid.value}}" >
                            <input type="hidden" id="nid" value="{{node.id}}" >
                            <input type="hidden" id="country_code" value="" >
                            <input type="hidden" id="utm_source" value="{{source}}" >
                            <input type="hidden" id="utm_campaign" value="{{campaign}}" >

                                <input type="checkbox" class="form-check-input" id="speak_consent" name="speak_consent">
                                <label class="form-check-label txt-12" for="exampleCheck1">I consent to Athena Global Education processing my personal information in accordance with the Athena Global Education Privacy Statement &amp; I agree to receive personalised information and updates about Athena Global Education  courses by phone and email.</label>
                                <button  type="button" id="smo_form_submit">Submit</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {% if course_team|length > 0%}
    <!--   Course Team -->
        <div class="course-team">
            <div class="wrapper">
                <h2>Course Team</h2>
                <div class="owl-carousel course-team-carousel owl-theme owl-loaded owl-drag">







                <div class="owl-stage-outer">
                <div class="owl-stage" style="transform: translate3d(-299px, 0px, 0px); transition: all 0.25s ease 0s; width: 2093px;">
                 {% set courseteamnum = 1 %}
                 {% for course_team_data in course_team %}
                 {% if courseteamnum == 1 %}
                      {% set cactiveclass = '' %}
                      {% else %}
                            {% set cactiveclass = 'active' %}
                        {% endif %}

                <div class="owl-item {{courseteamnum}}" style="width: auto;"><div class="item">
                        <div class="course-team-card">

                            <div class="team-img" style="cursor:pointer" onclick="window.location.href = '{{ course_team_data.linked_in}}';">

                                <a style="all:unset" href="{{ course_team_data.linked_in}}"> <img src="{{course_team_data.user_pic}}" alt="Team Member" style="opacity: 1;"></a>

                            </div>
                            <h3>{{course_team_data.name}}</h3>
                            <h4>{{course_team_data.designation}}</h4>
                            <p>{{course_team_data.description|striptags|truncate(175)}}</p>
                            <a style="display:none" href="{{ url('<front>') }}node/{{course_team_data.course_nid}}">Readmore</a>
                        </div>
                    </div>
                  </div>
                  {% set courseteamnum = courseteamnum+1 %}
                    {% endfor %}
                  </div></div>
                  <div class="owl-nav">

                    <button role="button" class="owl-dot">
                      <span></span>
                    </button>
                    <button role="button" class="owl-dot active">
                      <span></span>
                    </button>
                    <button role="button" class="owl-dot">
                      <span></span>
                    </button>
                    <button role="button" class="owl-dot">
                      <span></span>
                    </button>
                    <button role="button" class="owl-dot">
                      <span></span>
                    </button>

                    </div></div>
                <a class="button" href="#">View All</a>
            </div>
        </div>
    {% endif %}


<div class="course-faq">
        <div class="wrapper">
            <h2>Frequently Asked Questions</h2>
            <div class="accordion" id="accordion">
                 {% set faqcategorynum = 1 %}
             {% for faq_category,faq_data in faq %}
                <div class="card">
                    <div class="card-header" id="headingOne{{faqcategorynum}}">
                        <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#sectionOne{{faqcategorynum}}" aria-expanded="false" aria-controls="collapseOne">
                            {{faq_category}}
                        </button>
                        </h5>
                    </div>
                    <div id="sectionOne{{faqcategorynum}}" class="collapse" aria-labelledby="headingOne{{faqcategorynum}}" data-parent="#accordion" style="">
                     {% set questionsnum = 1 %}
                    {% for questions in faq_data %}
                        <div class="card-body">
                            <div class="accordion-inner" id="inner-accordion1">
                                <div class="card">
                                    <div class="card-header" id="innerHeadingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#firstCollapseOne{{faqcategorynum}}{{questionsnum}}" aria-expanded="false" aria-controls="collapseOne">
                                            {{questions.question}}
                                            </button>
                                        </h5>
                                    </div>

                                    <div id="firstCollapseOne{{faqcategorynum}}{{questionsnum}}" class="collapse" aria-labelledby="innerHeadingOne" data-parent="#inner-accordion1" style="">
                                        <div class="card-body">
                                           {{questions.answer|nl2br}}
                                        </div>
                                    </div>
                                </div>



                            </div>
                        </div>
                        {% set questionsnum = questionsnum+1 %}
                         {% endfor %}
                    </div>
                </div>
                {% set faqcategorynum = faqcategorynum+1 %}
               {% endfor %}
            </div>
        </div>
    </div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.com/libraries/owl-carousel"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {

  
      jQuery("#smo_form_submit").click(function() {
        var msg = '';
        var regex = /^([a-zA-Z])+$/;
        
        fname  = jQuery("#speak_first_name").val();
        
        if(jQuery("#speak_first_name").val() == '') {
          msg += '\n\u2022  Please enter first name';
        }else if(!regex.test(jQuery("#speak_first_name").val())) {
            msg += '\n\u2022  Please enter only alphabets for first name';
        }else if(fname.length < 2 ) {
          msg += '\n\u2022  Please enter atleast 2 characters for first name';
        }else if(fname.length > 16 ) {
          msg += '\n\u2022  Please do not enter more than 16 characters for first name';
        }


        lname  = jQuery("#speak_last_name").val();

        if(jQuery("#speak_last_name").val() == '') {
          msg += '\n\u2022  Please enter last name';
        }else if(!regex.test(jQuery("#speak_last_name").val())) {
            msg += '\n\u2022  Please enter only alphabets for last name';
        }else if(lname.length < 2 ) {
          msg += '\n\u2022  Please enter atleast 2 characters for last name';
        }else if(lname.length > 16 ) {
          msg += '\n\u2022  Last name should not be more than 16 characters';
        }

        var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if(jQuery("#speak_email").val() == '') {
          msg += '\n\u2022  Email cannot be empty';
        }else if(!regex.test(jQuery("#speak_email").val())) {
            msg += '\n\u2022  Invalid Email id';
        }

        var ph_num = jQuery("#phone").val();
        var nid = jQuery("#nid").val();
        var num_len = ph_num.length;

        if(jQuery("#phone").val() == '') {
          msg += '\n\u2022  Phone number cannot be empty';
        }else if(num_len <6 || num_len >15) {
          msg += '\n\u2022  Invalid Phone number';
        }else if(!jQuery('#phone').val().match(/^[0-9]+$/)) {
            msg += '\n\u2022  Invalid Phone number';
        }
    
        if(!jQuery("#speak_consent").prop('checked') == true){
           msg += '\n\u2022  Please accept consent terms';
        }

        var countryData = jQuery("#phone").intlTelInput("getSelectedCountryData");
 var iso2 = countryData.iso2;
 jQuery.ajax({
   type: 'GET',
   url: "https://learn.athena.edu/athenaprod/api/country/"+iso2, //Returns ID in body
   async: false, // <<== THAT makes us wait until the server is done.
   success: function(data){
       jQuery( "#country_code" ).val(data);
   },
   error: function() {
       alert("Error Processing your request, please try again after some time")
       return FALSE;
   }
});

        if(msg == ''){
         var sendInfo = {
FirstName:String(jQuery("#speak_first_name").val()),
LastName:String(jQuery("#speak_last_name").val()),
Email:String(jQuery("#speak_email").val()),
CountryISO:String(jQuery("#country_code").val()),
ContactNo:String(jQuery("#phone").val()),
CourseId:parseInt(jQuery("#speak_courseid").val()),
Source:String(jQuery("#utm_source").val()),
Campaign:String(jQuery("#utm_campaign").val()),

       };

             var utm_source = jQuery("#utm_source").val();
       var utm_campaign = jQuery("#utm_campaign").val();
          jQuery.ajax('https://athenawpapi.azurewebsites.net/ContactRequest/SaveContactRequest', {
                        type: 'POST',  // http method
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(sendInfo) ,  // data to submit
                         dataType: 'json',
                        success: function (data, status, xhr) {
                            var txt;
                          //  var r = confirm("Registration Successful, you will be redirected to login page now.");
                            alert("Thank you for submitting the registration form. Will reach out to you shortly")
                        },
                        error: function (jqXhr, textStatus, errorMessage) {
                                if(jqXhr.status == 200) {

                                  alert("Thank you for submitting the registration form. Will reach out to you shortly")


                                }
                        }
                    });
           jQuery('#speak_first_name').val("");
          jQuery('#speak_last_name').val("");
          jQuery('#speak_email').val("");
          jQuery('#speak_country').val("");
          jQuery('#phone').val("");
          jQuery('#speak_consent').prop('checked', false);


          return false;

        }else {
          alert(msg);
          return false;
        }
      });

       $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            autoWidth: true,
            responsiveClass: true,
            responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 3,
                nav: false
            },
            1000: {
                items: 4,
                nav: true,
                loop: false,
                margin: 20
            }
            }
        })
        $(window).scroll(function() {
            if($(window).width() > 1249) {
                if(($(window).scrollTop() > $(".course-login-wrapper").offset().top) &&
                ($(window).scrollTop() < ($(".course-login-wrapper").offset().top + $(".course-login-wrapper").height() -
                $(".testimonials").height() + 10))) {
                    $(".testimonials").css("position", "fixed");
                    console.log("Yo");
                } else {
                    $(".testimonials").css("position", "static");
                }
            }
        })
  });
  //---------------------------------------------



jQuery.validator.addMethod("lettersonly", function(value, element) {

  return this.optional(element) || /^[a-z]+$/i.test(value);

}, "Please enter only letters"); 

jQuery.validator.addMethod("phoneUS", function(phone_number, element) {
    phone_number = phone_number.replace(/\s+/g, "");
    return this.optional(element) || phone_number.length > 9 &&
        phone_number.match(/^(\+?1-?)?(\([2-9]\d{2}\)|[2-9]\d{2})-?[2-9]\d{2}-?\d{4}$/);
}, "Please specify a valid phone number");



jQuery("#speak_to_advisor").validate({

        rules: {

            "speak_first_name": {

                required: true,

                minlength: 2,

                maxlength: 16,

                lettersonly: true

            },

            "speak_last_name": {

                required: true,

                minlength: 2,

                maxlength: 16,

                lettersonly: true

            },

            "speak_email": {

                required: true,

                email: true

            },

            "phone": { 

                required: true, 

                minlength: 10,

                phoneUS: true 

            },

        },

        messages: {

            "speak_first_name": {

                required: "Enter first name",

                minlength: jQuery.validator.format("Enter at least {0} characters"),

            },

            "speak_last_name": {

                required: "Enter last name",
                minlength: jQuery.validator.format("Enter at least {0} characters"),

            },


            "speak_email": {

                required: "Please enter an email",

                email: "PLease enter a valid email"

            },            


        },                

    });


//------------------------------------
</script>
