<div class="col-md-12 col-sm-12">
               <div class="title">
               <img src="/themes/custom/athena/images/discussion-heading.png" alt="" style="width:100%;">
                  <h2>Our Discussions</h2>
                  <h3> {{discussion.title}}</h3>
                  <h4>in <span>{{discussion.category_title}}</span></h4>
               </div>
               <div class="single-discussion">

               <div class="share-icon">
       {% set site_url = url("<current>") %}
   <div class="list-unstyled a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="{{site_url}}" data-a2a-title="{{node.label}}" style="line-height: 32px; display: block;">
      <li><a class="a2a_dd addtoany_share" href="https://www.addtoany.com/share"><img src="/themes/custom/athena/images/icons/share.svg" alt="Share"></a></li>
      <li><a class="a2a_button_facebook" target="_blank" rel="nofollow noopener"><img src="/themes/custom/athena/images/icons/facebook.svg"></a></li>
      <li><a class="a2a_button_twitter" target="_blank" rel="nofollow noopener"><img src="/themes/custom/athena/images/icons/twitter.svg"></a></li>
      <li><a class="a2a_button_linkedin" target="_blank" rel="nofollow noopener"><img src="/themes/custom/athena/images/icons/linkedin.svg"></a></li>
      <li><a class="a2a_button_email" target="_blank" rel="nofollow noopener"><img src="/themes/custom/athena/images/icons/mail.svg"></a></li>
      <!--<li><a class="a2a_button_print" target="" href="#print" rel="nofollow"><img src="/themes/custom/athena/images/icons/print.svg"></a></li>-->
   </div>
</div>


                  <div class="new-discussion">
                     <div class="single-post">
                           <div class="profile-img">
                              <img src="{{discussion.author_profile_pic}}" alt="avatar">
                           </div>
                           <div class="post-thread">
                              <p>
                                 {{discussion.author_firstname}} {{discussion.author_lastname}}
                              </p>
                              <div class="author-info">
                                 {{discussion.course_name}}
                              </div>
                           </div>
                        </div>
                     <div class="user-thread">
                        <p>{{discussion.description|striptags}}</p>
                        <div class="reply">
                           <p>
                              <img src="/themes/custom/athena/images/like-discussion.svg">
                              <span>{{discussion.views_count}}</span>
                           </p>
                           <a href="https://learn.athena.edu/discussionboard/{{discussion.discussion_id}}" style="color:initial" target="_blank"> {{discussion.title}} |
                              Reply</a>
                           <p style="float: right; color: #919191;"> {{discussion.time_ago}} </p>
                        </div>
                     </div>
                  </div>

                  {% for posts in post %}
                  <div class="new-discussion-reply">
                     <div class="single-post">
                           <div class="profile-img">
                              <img src="{{posts.author_profile_pic}}" alt="avatar">
                           </div>
                           <div class="post-thread">
                              <p>
                                 {{posts.author_firstname}} {{posts.author_lastname}}
                              </p>
                              <div class="author-info">
                                  {{posts.course_name}}
                              </div>
                           </div>
                        </div>
                     <div class="user-thread">
                        <p>{{posts.content|raw}}</p>
                        <div class="reply">
                           <p>
                              <img src="/themes/custom/athena/images/like-discussion.svg">
                              <span>{{posts.views_count}}</span>
                           </p>
                           <p> <a href="https://learn.athena.edu/discussionboard/{{discussion.discussion_id}}" style="color:initial" target="_blank"> {{discussion.title}} |
                              Reply</a> </p>
                           <p style="float: right; color: #919191;"> {{posts.time_ago}} </p>
                        </div>
                     </div>
                  </div>

                   {% endfor %}

                  <div class="new-discussion" style="display:none;">
                     <div class="single-post">
                           <div class="profile-img">
                              <img src="/themes/custom/athena/images/1.jpg" alt="avatar">
                           </div>
                           <div class="post-thread">
                              <p>
                                 Daniels Jeasus
                              </p>
                              <div class="author-info">
                                 Master of Business Administration
                              </div>
                           </div>
                        </div>
                     <div class="user-thread">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing </p>
                        <div class="reply">
                           <p>
                              <img src="/themes/custom/athena/images/like-discussion.svg">
                              <span>0</span>
                           </p>
                           <p> Reply </p>
                           <p style="float: right; color: #919191;"> 11 days ago </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

<script>

$(document).scroll(function() {
            var y = $(document).scrollTop(),
                header = $(".share-icon ul");
            if(y <= 1600)  {
                header.css({position: "fixed"});
            } else {
                header.css("position", "relative");
            }
        });

        $(document).scroll(function() {
            var y = $(document).scrollTop(),
                header = $(".share-icon.mobile-share-icon ul");
            if(y <= 3200)  {
                header.css({position: "fixed"});
            } else {
                header.css("position", "relative");
            }
        });

        const mq = window.matchMedia( "(max-width: 700px)" );

        if (mq.matches) {
          $('.insight-wrapper .share-icon').addClass('mobile-share-icon');
        }
      </script>