<head>
<link href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/css/intlTelInput.css' rel='stylesheet' type='text/css'>
</head>
<h5 class="insight-sidebar-title">Latest Insights From Athena</h5>
<div class="container">
   {% for insightsdata in insig %}
   <div class="row mb-1">
      <div class="col-md-4 d-flex align-items-center p-0">
        <a href="{{ url('<front>') }}node/{{insightsdata.id}}"> <img class="img-fluid mx-auto brd-0" src="{{ file_url(insightsdata.field_insight_article_image_thum.entity.uri.value)}}"></a>
      </div>
      <div class="col-md-8">                    
         <p class="strong yellow-txt m-0">Article</p>
         <p><a style="color:inherit" href="{{ url('<front>') }}node/{{insightsdata.id}}">{{ insightsdata.title.value}}</a></p>
      </div>
   </div>
   {% endfor %}

<p class="purple-txt"><a href="/insights/all" class="more-link">VIEW ALL INSIGHTS</a></p>
</div>

<div class="container">
                        <div><h5 class="insight-sidebar-title mt-5">Our Popular Courses</h5>
                    {% set indexno = 0 %}    
{% for coursedata in popular %}
<div class="row mb-2 shadow-sm rounded">
  <div class="col-md-12 col-sm-12 p-3">
    <p class="m-0"><strong>{{coursedata.node.label}}</strong></p>
    <p class="mb-1">{{coursedata.node.field_course_awarding_body.value|raw }}</p>
    <p class="m-0">
    
{% for univ in coursedata.univ  %}
        <img width="50" height="50" src="{{univ}}" class="rounded-circle">
        <!-- <img width="50" height="50" src="{{base_path}}/images/ucam.png" class="rounded-circle"> -->
{% endfor %}        
        
        <a href="{{ url('<front>') }}course/{{coursedata.id}}" class="text-right purple-txt">Learn More</a>
    </p>
  </div>
</div>
 {% set indexno = indexno+1 %}
{% endfor %}

<p class="purple-txt"><a href="{{ url('<front>') }}course-home" class="more-link">VIEW ALL COURSE</a></p></div>
</div>

<div class="container bg-skyblue p-0 mt-5">
                        <div><p class="text-center pt-2 m-0 strong">Get in Touch</p>
<p class="text-center p-2">Fill your details in the form below and we will be in touch to discuss your learning needs</p>

    <div class="container">
      <div class="form-group">                       
       <select class="select-option" name="course" id="get_in_touch_course">
            <option value="" default>What are you looking for ?</option>
            <option value="Doctorate in Business Administration">Doctorate in Business Administration</option>
            <option value="Master in Business Administration">Master in Business Administration</option>
            <option value="Diplomas">Diplomas</option>
            <option value="Microcredits">Microcredits</option>
            <option value="Certification">Certification</option>
        </select>
      </div>
      <div class="form-group">                       
        <input type="text" class="form-control txt-12" id="get_in_touch_fname" placeholder="First Name">
      </div>
       <div class="form-group">                       
        <input type="text" class="form-control txt-12" id="get_in_touch_lname" placeholder="Last Name">
      </div>
       <div class="form-group">                       
        <input type="email" class="form-control txt-12" id="get_in_touch_email" placeholder="Email Address">
      </div>
      <div class="form-group>
        <select class="custom-select txt-12" id="contact_form_phone">
            <input type="tel" class="form-control txt-12" id="get_in_touch_mobile" placeholder="Enter Mobile number">                        
        </select>
      </div>
      <div class="form-check mb-2">
        <input type="checkbox" class="form-check-input" id="get_in_touch_consent">
        <label class="form-check-label txt-12"  for="exampleCheck1">I consent to Athena Global Education processing my personal information in accordance with the Athena Global Education Privacy Statement.</label>
      </div>
        <p class="txt-12">Do you want to hear about the latest insights, Newsletters and professional networking events that are relevant to you?</p>
        <div class="form-group txt-12">  
            <div class="custom-control-inline">
              <input type="radio" name="register-latest">
             <label for="customRadioInline1">&nbsp;&nbsp;Yes</label>
             </div>
            <div class="custom-control-inline">
              <input type="radio" name="register-latest">
              <label for="customRadioInline2">&nbsp;&nbsp;No</label>
             </div>
        </div>
    </div>
    <div class="form-group"> 
        <button id="get_in_touch" class="btn pink-bg btn-lg btn-block">Submit</button>
    </div>
</div>
                    </div>