<head>
<link href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/css/intlTelInput.css' rel='stylesheet' type='text/css'>
</head>


<div class="container">
     <div><h5 class="insight-sidebar-title mt-3">Our Popular Courses</h5>
 {% set indexno = 0 %}
{% for coursedata in popular %}
<div class="row mb-2 shadow-sm rounded">
  <div class="col-md-12 col-sm-12 p-3">
    <p class="m-0"><strong><a href="{{ url('<front>') }}course/{{coursedata.node.id}}" style="color:inherit">{{coursedata.node.label}}</a></strong></p>
    <p class="mb-1">{{coursedata.node.field_course_awarding_body.value|raw }}</p>

    {% for univ in coursedata.univ  %}
      <div class="insights-logos">
          <img src="{{univ}}">
      </div>
    {% endfor %}
    <br/>
    <a href="{{ url('<front>') }}course/{{coursedata.node.id}}" class="text-right purple-txt d-block">Learn More</a>

  </div>

</div>
 {% set indexno = indexno+1 %}
{% endfor %}

<p class="purple-txt"><a href="{{ url('<front>') }}course-home" class="more-link">VIEW ALL COURSE</a></p></div>
</div>


<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
