<div class="container-fluid my-container">
         <div class="popular-courses shawdow-effect">
            <!-- <h1>Popular Courses</h1> -->
            <div class="heading-image">
               <img src="{{base_path}}/images/popular-courses.svg" alt="">
            </div>
            <h2>Our Popular Course</h2>
            <h3>Some of our courses are in high demand. As acknowledged by our students, they have contributed to their professional achievements and enabled them to tackle challenging situations at the workplace.
            </h3>
            <div class="courses custom-carousel">
             <div class="owl-carousel owl-theme partner-logos">
            {% for coursedata in course %}
            <div class="item">
               <div class="course-item">
                  <div class="image">
                    {% if coursedata.field_search_list_image.entity.uri.value is not empty %}


        <a href="{{ url('<front>') }}course/{{coursedata.id}}"> <img class="course-img" src=" {{ file_url(coursedata.field_search_list_image.entity.uri.value)}}"  alt="Course"></a>
         {% else %}
          <img class="course-img" src="{{base_path}}/images/course-image2.png" alt="Course">
           {% endif %}


                  </div>
                  <div class="price-tag">
                     <p>${{coursedata.field_course_total_fee.value}}</p>
                  </div>
                  <div class="course-details">
                     <h1 class="headerWrap">{{coursedata.label}}</h1>
                     <h2>{{coursedata.field_course_awarding_body.value|raw }}</h2>
                     <div class="course-tags">

                        <p><span class="circle"></span>

                        {% if coursedata.field_course_level.value is not empty %}
                          {{coursedata.field_course_level.value}}
                        {% endif %}

                        <span>|</span>

                        {% if coursedata.field_course_ects_credit.value is not empty %}
                          {{coursedata.field_course_ects_credit.value}}
                        {% endif %}

                        {% if coursedata.field_courses_credit_type.value is not empty %}
                          {{coursedata.field_courses_credit_type.value}}
                        {% endif %}

                        </p>
                     </div>
                     <h3><b>Duration : </b> {{coursedata.field_course_duration.value}}</h3>
                  </div>
                  <div class="course-info">
                     {{coursedata.field_course_banner_description.value | truncate(60, true)}}
                     <span><a style="color: inherit;" href="{{ url('<front>') }}course/{{coursedata.id}}" >Read More</a></span>
                  </div>
                  <div class="know-more">
                     <p><a style="color:inherit;" href="{{ url('<front>') }}course/{{coursedata.id}}" >Know More</a></p>
                  </div>
               </div>
               </div>
               {% endfor %}

            </div>
            </div>
            <div class="show-more">
             <a href="{{ url('<front>') }}/search-results/abc">  <button>View all</button></a>
            </div>

         </div>
      </div>
