    <link href='https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/10.0.2/css/intlTelInput.css' rel='stylesheet' type='text/css'>
      <div class="top-banner">
          <div class="colorBg"></div>
          <!--<div class="call-btn-blk">
                <a class="call-btn" href="#">
                    Have Questions?<br/>
                    <strong>SPEAK TO AN ADVISOR</strong>
                </a>
                <img src="/themes/custom/athena/images/smo/Oval.svg" alt="Customer Care">
          </div>-->
          <div class="wrapper">
            <div class="logos">
    {% for universities in univ_data %}
   <img src="/themes/custom/athena/images/icons/{{ universities.white_log}}.svg" alt="university logo">

 {% endfor %}
                </div>
            <h1>{{course_title}}</h1>


            <p class="desc">{{ects_credit}}  {{node.field_courses_credit_type.0.value|raw }} {{course_title}} from
                <br>{{awarding_body}}</p>                
            {% if source is not empty %}
<a href="{{ url('<front>') }}registration?cid={{node.field_cid.value}}&utm_source={{source}}&utm_campaign={{campaign}}" >
  {% else %}

{#
<div class="course-banner__apply-btn">
  <a class="apply-btn" href="{{ url('<front>') }}registration?cid={{node.field_cid.value}}" >
   Start 7 Day Trial <img src="/themes/custom/athena/images/smo/path.svg" alt="arrow">
 </a>
</div>
#}

{% endif %}

          </div>
          <div class="bg">
            <img src="/themes/custom/athena/images/smo/bg.jpg" alt="background-image">
             
          </div>
      </div>
      <!-- call button -->
            <div class="advisor">
                <div class="text">
                    <p>Have Questions ?</p>
                    <p class="content">Speak to an Advisor</p>
                </div>
                <div class="img">
                    <a href="#enquiry_form"><img src="/themes/custom/athena/images/smo/speak-advisor.svg" alt="icon"></a>
                </div>
            </div>
            <!-- call button end-->
            
      <div class="why-section" style="height: initial;">
          <div class="wrapper">
              <div class="usp">
                  <div>
                      <img src="/themes/custom/athena/images/smo/fee.svg" alt="icon">
                      <h3>${{total_fee}} Total Fee</h3>
                      <p>{{fees_pay_per}}</p>
                  </div>
                  <div>
                      <img src="/themes/custom/athena/images/smo/duration.svg" alt="icon">
                      <h3>Duration</h3>
                      <p><span class="flx-duration">Flexible(</span>{{duration}}<span class="flx-duration">)</span></p>
                  </div>
                  <div>
                      <img src="/themes/custom/athena/images/smo/dual-certification.svg" alt="icon">
                      <h3>{{certification_label}}</h3>
                      <p>{{certification}}</p>
                  </div>
                  <div>
                      <img src="/themes/custom/athena/images/smo/completly-online.svg" alt="icon">
                      <h3>Completely Online</h3>
                      <p>Study at Home</p>
                  </div>
 {% if node.field_course_accreditations.0.value != '' %}
                  <div>
                      <img src="/themes/custom/athena/images/smo/accreditation.svg" alt="icon">
                      <h3>Accreditations</h3>
                      <p>{{ node.field_course_accreditations.0.value|raw }}</p>
 <p>{{ node.field_course_accreditations.1.value|raw }}</p>

 </div>


{% endif %}

                </div>

              <div class="main-section" style="width:initial">
                <div class="desc">
                    <h2>Why this Course</h2>
                    <div style="text-align:left">
                    {{overview | raw}}
</div>
                    <p><b>Build your skills in all areas of managing and leading organizations</b></p>
                </div>
                <div class="forms">
                    <div class="container-fluid p-0 about-us-wrapper form">
                        <div class="course-login-wrapper">


<div class="login-details">
<a id="enquiry_form"> </a>
                        <form id="speak_to_advisor" style="text-align:left">
                            <h2>Need more detail?</h2>
                            <h3>Speak to an Advisor<span>&nbsp;</span></h3>
                            <p>Intrested in more information? Submit a request for call back from our Admission Counsellor.</p>
                            <div class="login-item names">
                                <div class="name-item">
                                    <p>First Name</p>
                                    <input type="text" id="speak_first_name" name="speak_first_name" placeholder="Enter First Name">
                                </div>
                                <div class="name-item">
                                    <p>Last Name</p>
                                    <input type="text" id="speak_last_name" name="speak_last_name" placeholder="Enter Last Name">
                                </div>
                            </div>
                            <div class="login-item">
                                <p>Email</p>
                                <input type="hidden" id="country_code" value="" />
                                <input type="email" id="speak_email" name="speak_email" required pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" placeholder="Enter Email Address">
                            </div>
                            <div class="login-item" style="display:none">
                                <p>Country</p>
                                <input type="text" id="speak_country" placeholder="Country">
                            </div>
                            <div class="login-item phone-number">
                                <p>Mobile Number</p>
                                <input type="tel" id="phone" name="phone" placeholder="Enter Mobile number">
                                <span id="valid-msg" class="hide">✓ Valid</span>
                                <span id="error-msg" class="hide"></span>
                            </div>
                            <input type="hidden" id="speak_courseid" value="{{node.field_cid.value}}" >
                            <input type="hidden" id="nid" value="{{node.id}}" >
                            <input type="hidden" id="utm_source" value="{{source}}" >
                            <input type="hidden" id="utm_campaign" value="{{campaign}}" >
                            <div class="button">
                                <input type="checkbox" class="form-check-input" id="speak_consent">
                                <label class="form-check-label txt-12" for="exampleCheck1">I consent to Athena Global Education processing my personal information in accordance with the Athena Global Education Privacy Statement &amp; I agree to receive personalised information and updates about Athena Global Education  courses by phone and email.</label>
                                <button  type="submit" id="smo_form_submit">Submit</button>
                            </div>
                            </form>
                        </div>
                        </div>
                    </div>

              </div>
          </div>
      </div>
      <div class="partners-tabs smo-page-section">
        <div class="wrapper">
            <h1>Partners of this Programme</h1>
            <div class="classic-tabs"> <!-- Bootstrap Tabs -->

{% set nummact = 1 %}
 {% set activeclass = '' %}
                <ul class="nav tabs-cyan" id="myClassicTab" role="tablist">
                 {% for universities in univ_data	 %}

                  {% if nummact == 1 %}
                  {% set activeclass = 'active show' %}
                  {% else %}
                        {% set activeclass = '' %}
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link  waves-light {{activeclass}}" id="guglielmo-tab-classic" data-toggle="tab" href="#guglielmo{{nummact}}" role="tab" aria-controls="guglielmo-classic" aria-selected="true">
                        {{ universities.university.label }}</a>
                    </li>
                     {% set nummact = nummact+1 %}
                 {% endfor %}

                  {% set univ_data_length = univ_data|length %}
                  {% set univ_data_length_var = univ_data_length - 1 %}
                  {% if univ_data_length < 3 %}
                    {% for i in range(1, univ_data_length_var)  %}
                       <li class="nav-item"></li>
                    {% endfor %}
                  {% endif %}

                </ul>

                <div class="tab-content rounded-bottom" id="myClassicTabContent">

{% set numm = 1 %}
                  {% for universities in univ_data	 %}
                  {% if numm == 1 %}
                  {% set activeclasstab = 'active show' %}
                  {% else %}
                        {% set activeclasstab = '' %}
                    {% endif %}

                    <div class="tab-pane fade {{activeclasstab}}" id="guglielmo{{numm}}" role="tabpanel" aria-labelledby="guglielmo-tab-classic">
                        <div class="partners-tabs__mba no-bottom-video">
                            <div class="partners-tabs__mba-text">
                                <div>
                                    <h2>{{ universities.university.label }}</h2>
                                    <p>{{universities.university.field_description.value|raw}} </p>

                                </div>

<div class="certificate">
                                    <div id="carouselExampleIndicators{{numm}}" class="carousel slide" data-ride="carousel" data-interval="false">
                                        {% set carouselnum = 1 %}
                                        <div class="carousel-inner">
                                           {% for certificate in universities.certificates %}
                                         {% if carouselnum == 1 %}
                  {% set carouselnumclass = 'active' %}
                  {% else %}
                        {% set carouselnumclass = '' %}
                    {% endif %}



                                            <div class="carousel-item {{carouselnumclass}} ">
                                                <!-- Button to trigger Modal -->
                                                <button type="button" class="cover" data-toggle="modal" data-target="#certificate{{numm}}{{carouselnum}}">
                                                    <img class="d-block w-100" src="{{ certificate}}" alt="First slide">
                                                </button>
                                                <!-- Modal -->
                                                <div class="modal fade" id="certificate{{numm}}{{carouselnum}}" tabindex="-1" aria-labelledby="certificate1ModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="{{ certificate}}" alt="First slide">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


{% set carouselnum =  carouselnum+1 %}


                                        {% endfor %}
                                        </div>



                                        <a class="carousel-control-prev" href="#carouselExampleIndicators{{numm}}" role="button" data-slide="prev">
                                            <img src="/themes/custom/athena/images/coursepage/prev.svg" alt="previous">
                                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span> -->
                                        </a>
                                        <a class="carousel-control-next" href="#carouselExampleIndicators{{numm}}" role="button" data-slide="next">
                                            <img src="/themes/custom/athena/images/coursepage/next.svg" alt="next">
                                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span> -->
                                        </a>
                                    </div>
                                    <p>Click to Enlarge</p>
                                </div>

                                <p class="note">
                                <img src="{{universities.univ_logo}}" alt="uni-logo"><br>
                                *All certificate and transcript images are for illustrative purposes only and may be
                                    subject to change at the discretion of respective Universities or Awarding Bodies.</p>
                            </div>
                            <div class="partners-tabs__mba-img"></div>
                        </div>
                    </div>


                    {% set numm = numm+1 %}
                    {% endfor %}




                </div>

            </div>
        </div>
      </div>
      <div class="how-learn course-team smo-page-section">
        <div class="wrapper">
            <h2>How You Learn</h2>
            <p class="msg">We have Developed a learning pedagogy which ensures the students will be able to learn
               the course successfuly regardless of the student is beginner or expert Level.</p>
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="learn-card course-team-card">
                        <div class="team-img">
                            <img src="/themes/custom/athena/images/coursepage/video-class.svg" alt="image">
                        </div>
                        <h3>Video Classes</h3>
                        <p>The well developed purpose
                            built video lessons designed by our faculties will lay the foundation for your
                            learning</p>
                    </div>
                </div>
                <div class="item">
                    <div class="learn-card course-team-card">
                        <div class="team-img">
                            <img src="/themes/custom/athena/images/coursepage/text-learning.svg" alt="image">
                        </div>
                        <h3>Text Learning Contents</h3>
                        <p>Multi level learning resourse
                            developed by our faculties including articles , case studies,quizes etc. will
                            enhance your learning exposure</p>
                    </div>
                </div>
                <div class="item">
                    <div class="learn-card course-team-card">
                        <div class="team-img">
                            <img src="/themes/custom/athena/images/coursepage/personal-tutor.svg" alt="image">
                        </div>
                        <h3>Personal Tutor</h3>
                        <p>One to one personal tutor meetings will help to clarify your doubts and also
                            provide guidance on your assignments.</p>
                    </div>
                </div>
                <div class="item">
                    <div class="learn-card course-team-card">
                        <div class="team-img">
                            <img src="/themes/custom/athena/images/coursepage/online-library.svg" alt="image">
                        </div>
                        <h3>Online Library</h3>
                        <p>Unlimeted access to the online library consist of a large collection of books,
                            journals , and other publications</p>
                    </div>
                </div>
                <div class="item">
                    <div class="learn-card course-team-card">
                        <div class="team-img">
                            <img src="/themes/custom/athena/images/coursepage/collaborative-learning.svg" alt="image">
                        </div>
                        <h3>Collaborative Learning</h3>
                        <p>Discussion Forum, webinars business secenario presentations, debates etc will
                            take you to a different level of learning.
                        </p>
                    </div>
                </div>
            </div>
            <a class="button" href="#">View All</a>
        </div>
      </div>
      <div class="what-students-says">
          <div class="wrapper">
              <h2>What our Students Says</h2>
              <div class="slider">
                  <div class="testimonial">
                    <div id="carouselIndicatorsBlock" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="https://www.linkedin.com/in/amara-vandi-fomba-b6429316a/"><img class="d-block w-100" src="/themes/custom/athena/images/smo/testimonial1.png" alt="First slide"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://www.linkedin.com/in/nazeer-hussein-4a861530/"><img class="d-block w-100" src="/themes/custom/athena/images/smo/testimonial2.png" alt="First slide"></a>
                            </div>
                            <div class="carousel-item">
                                <a href="https://www.linkedin.com/in/coillard-hamusimbi-55525812a"><img class="d-block w-100" src="/themes/custom/athena/images/smo/testimonial3.png" alt="First slide"></a>
                            </div>
                             <div class="carousel-item">
                               <a href="https://www.linkedin.com/in/dr-ing-viswa/"> <img class="d-block w-100" src="/themes/custom/athena/images/smo/testimonial4.png" alt="First slide"></a>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselIndicatorsBlock" role="button" data-slide="prev">
                            <img src="/themes/custom/athena/images/coursepage/prev.svg" alt="previous">
                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span> -->
                        </a>
                        <a class="carousel-control-next" href="#carouselIndicatorsBlock" role="button" data-slide="next">
                            <img src="/themes/custom/athena/images/coursepage/next.svg" alt="next">
                            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span> -->
                        </a>
                    </div>
                    <!-- <img src="/themes/custom/athena/images/smo/tesimonial.jpg" alt="students testimonial"> -->
                  </div>
              </div>
          </div>
      </div>


<div class="what-you-get">
        <div class="wrapper">
            <h2>What You Get</h2>
            <p class="msg">You will be Receiving the following certificates and credentials as follows.</p>
            <div class="container-box">
				  {% set whynum = 1 %}
				 {% for why_coursedata in why_course %}
                <div class="contains">
                 {% if why_coursedata.logo_url is empty %}
                                    <img src="/themes/custom/athena/images/coursepage/degree-mba.svg" alt="icon">
                                    {% else %}
                                   <img src="{{why_coursedata.logo_url}}" style="height:45px;width:52px"alt="icon">
                                        {% endif %}

                    <p>{{why_coursedata.degree}} issued by <span>{{why_coursedata.issued_by}} </span>.
                    {% if why_coursedata.certificates_url is not empty %}
                        <a class="cover" data-toggle="modal" data-target="#certificateModal{{whynum}}">(view sample)</a>
                     {% endif %}
                        </p>
                    <!-- Modal Starts -->
                    <div class="modal fade" id="certificateModal{{whynum}}" tabindex="-1" aria-labelledby="certificate1ModalLabel" aria-hidden="true" style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{why_coursedata.certificates_url}}" alt="First slide">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Ends -->
                </div>
                {% set whynum = whynum+1 %}
                {% endfor %}
            </div>
        </div>
    </div>
  <div class="container-fluid text-center bg-dark p-2 text-white mt-3">
    <div class="txt-12">All Copyrights© reserved @ Athena Global Education 2021</div>
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.com/libraries/owl-carousel"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>


<script type="text/javascript">
  $(document).ready(function() {

      jQuery("#smo_form_submit").click(function() {

        var msg = '';
        var regex = /^[a-zA-Z_ \.]*$/;
        fname  = jQuery("#speak_first_name").val();

        if(jQuery("#speak_first_name").val() == '') {
          msg += '\n\u2022  Please enter first name';
        }else if(!regex.test(jQuery("#speak_first_name").val())) {
            msg += '\n\u2022  Please enter only alphabets for first name';
        }else if(fname.length < 2 ) {
          msg += '\n\u2022  Please enter atleast 2 characters for first name';
        }else if(fname.length > 16 ) {
          msg += '\n\u2022  Please do not enter more than 16 characters for first name';
        }


        lname  = jQuery("#speak_last_name").val();

        if(jQuery("#speak_last_name").val() == '') {
          msg += '\n\u2022  Please enter last name';
        }else if(!regex.test(jQuery("#speak_last_name").val())) {
            msg += '\n\u2022  Please enter only alphabets for last name';
        }else if(lname.length < 2 ) {
          msg += '\n\u2022  Please enter atleast 2 characters for last name';
        }else if(lname.length > 16 ) {
          msg += '\n\u2022  Last name should not be more than 16 characters';
        }

        var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        var email = jQuery("#speak_email").val();

        if(email == '') {
          msg += '\n\u2022  Please enter email';
        }else if(!regex.test(email)) {
            msg += '\n\u2022  Please enter valid Email id';
        }

        var ph_num = jQuery("#phone").val();
        var nid = jQuery("#nid").val();
        var num_len = ph_num.length;

        if(jQuery("#phone").val() == '') {
          msg += '\n\u2022  Please enter phone number';
        }else if(num_len <6 || num_len >15) {
          msg += '\n\u2022  Please enter valid phone number';
        }else if(!jQuery('#phone').val().match(/^[0-9]+$/)) {
            msg += '\n\u2022  Please enter valid phone number';
        }



        if(!jQuery("#speak_consent").prop('checked') == true){
           msg += '\n\u2022  Please accept consent terms';
        }
           var countryData = jQuery("#phone").intlTelInput("getSelectedCountryData");
 var iso2 = countryData.iso2;
 jQuery.ajax({
   type: 'GET',
   url: "https://learn.athena.edu/athenaprod/api/country/"+iso2, //Returns ID in body
   async: false, // <<== THAT makes us wait until the server is done.
   success: function(data){
       jQuery( "#country_code" ).val(data);
   },
   error: function() {
       alert("Error Processing your request, please try again after some time")
       return FALSE;
   }
});


        if(msg == ''){
         var sendInfo = {
FirstName:String(jQuery("#speak_first_name").val()),
LastName:String(jQuery("#speak_last_name").val()),
Email:String(jQuery("#speak_email").val()),
CountryISO:String(jQuery("#country_code").val()),
ContactNo:String(jQuery("#phone").val()),
CourseId:parseInt(jQuery("#speak_courseid").val()),
Source:String(jQuery("#utm_source").val()),
Campaign:String(jQuery("#utm_campaign").val()),

       };



  var enc_fname = btoa(fname);
  var enc_lname = btoa(lname);
  var enc_email = btoa(email);
  var country_code = btoa(jQuery("#country_code").val());
  var enc_phone = btoa(jQuery("#phone").val());

      var pathparts = location.pathname.split('/');
      if (location.host == 'localhost') {
          var url = location.origin+'/'+pathparts[1].trim('/')+'/'; 
      }else{
          var url = location.origin; 
      }
  

             var utm_source = jQuery("#utm_source").val();
       var utm_campaign = jQuery("#utm_campaign").val();
          jQuery.ajax('https://athenawpapi.azurewebsites.net/ContactRequest/SaveContactRequest', {
                        type: 'POST',  // http method
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(sendInfo) ,  // data to submit
                         dataType: 'json',
                        success: function (data, status, xhr) {
                            var txt;
                          //  var r = confirm("Registration Successful, you will be redirected to login page now.");

                          

                          if(utm_source !=''){
                          
                           window.location.replace(url+'/smo-tq?nid='+nid+'&utm_source='+utm_source+'&utm_campaign='+utm_campaign+'&fname='+enc_fname+'&lname='+enc_lname+'&email='+enc_email+'&ccode='+country_code+'&phone='+enc_phone);

                           }else{
                           window.location.replace(url+'/smo-tq?nid='+nid+'&fname='+enc_fname+'&lname='+enc_lname+'&email='+enc_email+'&ccode='+country_code+'&phone='+enc_phone);
                           }
                            if (r == true) {
                             // txt = "You pressed OK!";
                            } else {
                              //txt = "You pressed Cancel!";
                            }
                        },
                        error: function (jqXhr, textStatus, errorMessage) {
                                if(jqXhr.status == 200) {


                                   if(utm_source !=''){

                           window.location.replace(url+'/smo-tq?nid='+nid+'&utm_source='+utm_source+'&utm_campaign='+utm_campaign+'&fname='+enc_fname+'&lname='+enc_lname+'&email='+enc_email+'&ccode='+country_code+'&phone='+enc_phone);
                           }else{
                           window.location.replace(url+'/smo-tq?nid='+nid+'&fname='+enc_fname+'&lname='+enc_lname+'&email='+enc_email+'&ccode='+country_code+'&phone='+enc_phone);
                           }



                                }
                        }
                    });


            var mailinfo = {
              'mail': jQuery('#speak_email').val(),
              'fname': jQuery('#speak_first_name').val(),
              'lname': jQuery('#speak_last_name').val(),
              'phone': jQuery('#phone').val(),
              'cid': jQuery('#speak_courseid').val()
            };
            initiateSendingMail('speak_to_advisor', mailinfo);

           jQuery('#speak_first_name').val("");
          jQuery('#speak_last_name').val("");
          jQuery('#speak_email').val("");
          jQuery('#speak_country').val("");
          jQuery('#phone').val("");
          jQuery('#speak_consent').prop('checked', false);


          return false;

        }else {
          alert(msg);
          return false;
        }
      });

       $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            autoWidth: true,
            responsiveClass: true,
            responsive: {
            0: {
                items: 1,
                nav: true
            },
            600: {
                items: 3,
                nav: false
            },
            1000: {
                items: 4,
                nav: true,
                loop: false,
                margin: 20
            }
            }
        })
        $(window).scroll(function() {
            if($(window).width() > 1249) {
                if(($(window).scrollTop() > $(".course-login-wrapper").offset().top) &&
                ($(window).scrollTop() < ($(".course-login-wrapper").offset().top + $(".course-login-wrapper").height() -
                $(".testimonials").height() + 10))) {
                    $(".testimonials").css("position", "fixed");
                    console.log("Yo");
                } else {
                    $(".testimonials").css("position", "static");
                }
            }
        })
  });
    //---------------------------------------------



jQuery.validator.addMethod("lettersonly", function(value, element) {

  return this.optional(element) || /^[a-zA-Z_ \.]*$/i.test(value);

}, "Please enter only letters");

jQuery.validator.addMethod("phoneUS", function(phone_number, element) {
    phone_number = phone_number.replace(/\s+/g, "");
    return this.optional(element) || phone_number.length > 9 &&
        phone_number.match(/^(\+?1-?)?(\([2-9]\d{2}\)|[2-9]\d{2})-?[2-9]\d{2}-?\d{4}$/);
}, "Please specify a valid phone number");



jQuery("#speak_to_advisor").validate({

        rules: {

            "speak_first_name": {

                required: true,

                minlength: 2,

                maxlength: 16,

                lettersonly: true

            },

            "speak_last_name": {

                required: true,

                minlength: 2,

                maxlength: 16,

                lettersonly: true

            },

            "speak_email": {

                required: true,

                email: true

            },

            "phone": {

                required: true,

                minlength: 10,

                phoneUS: true

            },

        },

        messages: {

            "speak_first_name": {

                required: "Enter first name",

                minlength: jQuery.validator.format("Enter at least {0} characters"),

            },

            "speak_last_name": {

                required: "Enter last name",
                minlength: jQuery.validator.format("Enter at least {0} characters"),

            },


            "speak_email": {

                required: "Please enter an email",

                email: "PLease enter a valid email"

            },


        },

    });


//------------------------------------

</script>


<a data-toggle="modal" class="btn btn-default" data-dismiss="modal" data-target="#thankyoumodal" id='thankyoulink' style="display:none;"></a>

<div id="thankyoumodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="width:475px !important;">

            <div class="modal-body">

                    <div class="col-md-12">
                      <div class="col-md-12" style="
                        text-align: center;
                    "><div>
                        <img src="/themes/custom/athena/images/request-img.svg" style="
                        position: relative;
                        left: -2px;
                    ">

                    </div>

                        <h2>Thank you for the request</h2>
                        <p class="txt-14">Our Admission advisor will get in touch with you shortly</p>
                        <button onclick="javascript:location.reload();" style="
                        width: 109px;
                        height: 38px;
                        padding: 10px 37px 11px;
                        border-radius: 8px;
                        background-image: linear-gradient(to left, #eeeeee 111%, #ececec 96%, #d8d8d8);
                        border: 0px;
                        font-weight: bold;
                    ">Okay</button>
                      </div>
                      </div>

            </div>

        </div>
    </div>
</div>
