<div clas="main-wrapper my-container" style="margin-bottom: 100px;position: relative;">
<div class="container">
<div class="row">
<div class="col">
<div class="registeredTitle">Your Enquiry is Successfully Registered</div><br/>
</div>
</div>
<input type="hidden" id="utm_source" value="{{source}}" >
<input type="hidden" id="utm_campaign" value="{{campaign}}" >
<input type="hidden" id="fname" value="{{fname}}" >
<input type="hidden" id="lname" value="{{lname}}" >
<input type="hidden" id="email" value="{{email}}" >
<input type="hidden" id="ccode" value="{{ccode}}" >
<input type="hidden" id="phone1" value="{{phone}}" >
{% set type = 'cert' %}
{% if node.field_course_category.value == 'Academic' %}
{% set type = 'acad' %}
{% elseif node.field_course_category.value == 'Micro Credits' %}
{% set type = 'mcred' %}
{% endif %}
<input type="hidden" id="type" value="{{type}}" >
                           
<div class="row" style="margin-bottom:31px;">
<div class="col">
<div class="registeredDescription">

{% if node.field_course_thankyou_msg1.value is not empty %}

	{{node.field_course_thankyou_msg1.value }}

{% else %}

	One of our Admission Counsellor will connect to you shortly. 
	<br>
	Meanwhile, Your can Register for the Course and Start with Your 7-Day Free Trial<br>

{% endif %}

</div>
</div>
</div>

<div class="row">
<div class="col registeredDescription">
 {% if source is not empty %}
<a href="{{ url('<front>') }}registration?cid={{node.field_cid.value}}&utm_source={{source}}&utm_campaign={{campaign}}&fname={{fname}}&lname={{lname}}&email={{email}}&ccode={{ccode}}&phone={{phone}}&type={{type}}" >
  {% else %}
<a href="{{ url('<front>') }}registration?cid={{node.field_cid.value}}&fname={{fname}}&lname={{lname}}&email={{email}}&ccode={{ccode}}&phone={{phone}}&type={{type}}" > 
 {% endif %}


{% if node.field_thankyou_link.value is not empty %}

	<button class="registeredButton">{{node.field_thankyou_link.value}}</button></a></div>

{% else %}

	<button class="registeredButton">Start 7 Day Trial</button></a></div>

{% endif %}


</div>
</div>
</div>
