<script>
        jQuery(document).ready(function() {
            jQuery('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                autoWidth: true,
                responsiveClass: true,
                responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 5,
                    nav: true,
                    loop: false,
                    margin: 20
                }
                }
            })
        })
    </script>

<div class="container-fluid my-container">
         <div class="partners">
            <div class="info shawdow-effect">
               
               <img src="{{base_path}}/images/partners-text.svg" alt="">
               <h2>Universities we Partner <br>With</h2>
               <h3>We partner with some of the renowned universities of the world to develop and deliver our programs like Guglielmo Marconi University, Italy, Universidad Catolica De Murcia (UCAM), Spain and Bellevue University, USA. They are all top ranking universities.
               </h3>
            </div>
            <div class="owl-carousel owl-theme partner-logos owl-loaded owl-drag">
                
                
                
                
                
                
                
            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 1s ease 0s; width: 2030px;"><div class="owl-item active" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/cmi-logo.svg" style="opacity: 1;">
                     </div>
                </div></div><div class="owl-item active" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/ciq-logo.svg" style="opacity: 1;">
                     </div>
                </div></div><div class="owl-item active" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/sqa-logo.svg" style="opacity: 1;">
                     </div>
                </div></div><div class="owl-item active" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/ucam-logo.svg" style="opacity: 1;">
                     </div>
                </div></div><div class="owl-item" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/cmi-logo.svg" style="opacity: 1;">
                     </div>
                </div></div><div class="owl-item" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/ucam-logo.svg" style="opacity: 1;">
                     </div>
                </div></div><div class="owl-item" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/ciq-logo.svg" style="opacity: 1;">
                     </div>
                </div></div></div></div>
                
          
              
                
                </div>

         </div>
         <div class="know-more">
            <button>Know More</button>
         </div>
         <div class="reason-section">
            <div class="testimonials-background-image">
               <img src="{{base_path}}/images/bg-take7daytrial.png" />
            </div>
            <div class="reason-section-item d-none d-md-block">
               <img src="{{base_path}}/images/need-reason-img.svg">
            </div>
            <div class="reason-section-item">
               <div class="steps">
                  <h1>Need More Reasons to Start today ?</h1>
                  <h2>Take a 7-day free Trial</h2>
                  <ul>
                     <li><img src="{{base_path}}/images/tick.svg" alt=""><span>No Credit Card details Required</span></li>
                     <li><img src="{{base_path}}/images/tick.svg" alt=""><span>Free of any Obligations </span></li>
                     <li><img src="{{base_path}}/images/tick.svg" alt=""><span>Unlimited Acces to One Modul
                     </span></li><li><img src="{{base_path}}/images/tick.svg" alt=""><span>Immediate Access to the Course </span></li>
                     <li><img src="{{base_path}}/images/tick.svg" alt=""><span>Decide After the Free Trial</span></li>
                     <li><img src="{{base_path}}/images/tick.svg" alt=""><span>Engage With the Student Community</span></li>
                  </ul>
                  
                  
                  
                  
                   <div class="reason-section-item d-block d-md-none">
                        <img src="{{base_path}}/images/need-reason-img.svg" />
                     </div>
                  <div class="actions">
                     <button onclick="window.location='/registration';"> Start Now</button>
                     <p>Watch Video<img src="{{base_path}}/images/video.svg" alt=""/></p>
                  </div>
               </div>
            </div>
         </div>
         <div class="insights-section shawdow-effect">
            <!-- <h1>News & Updates</h1> -->
            <img class="img-heading" src="{{base_path}}/images/news-updates.svg" alt="">
            <h2>From Our Insights</h2>
            <h3>We keep you informed and engaged. Blogs on diverse subjects. Candid interviews of students and employees. Reviews of books that can change your life. Testimonials from our satisfied students.</h3>
            <div class="section-items">
               <div class="section-item-one">
                  <div class="section-image">
                     <img src="{{ file_url(insig.0.field_insight_article_image_thum.entity.uri.value)}}">
                     <h4>ARTICLE</h4>
                      <h5>{{ insig.0.title.value }}</h5>
                     <p>{{insig.0.body.value|striptags|truncate(100)}}…<a href="{{ url('<front>') }}node/{{insig.0.id}}">Read more</a>

                     </p>
                  </div>
               </div>
               <div class="section-item-two">
                  <h4>Latest Articles <span><a href="{{ url('<front>') }}/insights/all">View All</a></span></h4>
                   
                   
                   <div class="container">
   {% for insightsdata in insig %}
   <div class="row mb-1">
      <div class="col-md-4 d-flex align-items-center p-0">
         <img class="img-fluid mx-auto brd-0" src="{{ file_url(insightsdata.field_insight_article_image_thum.entity.uri.value)}}">
      </div>
      <div class="col-md-8">                    
         <p class="strong yellow-txt m-0">Article</p>
         <p>{{ insightsdata.title.value}}</p>
      </div>
   </div>
   {% endfor %}

<p class="purple-txt"><a href="/insights/all" class="more-link">VIEW ALL INSIGHTS</a></p>
</div>
               </div>
            </div>
         </div>
      </div>