<div class="main-wrapper container-fluid p-0 university-wrapper">

        <div class="banner container-fluid banner-image p-0 bg-white">
            <img src="{{base_path}}/images/Ucam-banner.png" class="col-lg-12 col-md-12 d-none d-lg-block d-md-block p-0" alt="Banner image">
            <img src="{{base_path}}/images/about-us-mobile-banner.png" class="col-lg-12 col-md-12 d-sm-block d-lg-none d-md-none p-0" alt="Banner image">
            <div class="container carousel-caption text-left pl-0">
                <h1 class="strong banner_title"><span class="purple-txt">UCAM</span> Universidad Católica de Murcia</h1>
                <div class="row">
                    <div class="col-md-6">
                    Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem Lorem ipsum dolor Lorem ipsum dolor sit Lorem ipsum dolor sit Lorem Lorem ipsum dolor Lorem ipsum dolor sit Lorem ipsum dolor sit.
                    </div>
                    <div class="col-md-6">
                      <a href="#">
                          <!-- <img src="{{base_path}}/images/coursepage/playintro.svg" alt="play button"><br />
                          <i>Watch Intro</i> -->
                      </a>
                    </div>
                </div>                
            </div>
        </div>

        <div class="container">
            <section class="informations">
                <div class="row">
                   <div class="col-md-8 col-sm-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis 
                        </p>
                          <div class="info-1">
                            <h2 class="heading ">About UCAM</h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam
                              eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam 
                              voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione 
                             n numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
                              Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere</p>
                          </div>
                     
                          <div class="info-2">
                            <h2 class="heading ">Accrediation And Membership</h2>
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. . Nulla consequat massa quis enim. Donec pede justo
                                fringilla vel, aliquet nec. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet necNulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, v. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, v Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vNulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vAsodales, augue velit cursus nunc,. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, v</p>
                          </div>
                          <div class="info-3">
                            <h2 class="heading ">Rankings</h2>
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. . Nulla consequat massa quis enim. Donec
                                 pede justo, fringilla vel, aliquet nec.Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec
                                 Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet 
                                 Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vNulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vAsodales, augue velit cursus 
                                 Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, v</p>
                          </div>  
                   </div>

                   <div class="col-md-4 col-sm-12">
                     <div class="card-container">
                        <div class="card">
                            <iframe width="350" height="250" src="https://www.youtube.com/embed/5vejHYeGs3c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
                        </div>
                           <div class="card">
                               <div class="card-icons">
                                 <img src="{{base_path}}/images/logo11.jpg" width="30%">
                                 <img src="{{base_path}}/images/logo12.png" width="35%"> 
                             </div>
                           </div>
                       <div class="card">
                            <div class="card-icons">
                              <img src="{{base_path}}/images/logo21.jpg" width="50%">
                              <img src="{{base_path}}/images/logo22.png" width="45%"> 
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-icons">
                              <img src="{{base_path}}/images/logo31.jpg" width="45%">
                              <img src="{{base_path}}/images/logo32.jpg" width="45%"> 
                          </div>
                        </div>
                        <div class="card">
                            <div class="card-icons">
                              <img src="{{base_path}}/images/logo41.png" width="45%">
                              <img src="{{base_path}}/images/logo2.png" width="45%"> 
                          </div>
                        </div>
                   </div>
                </div>
            </div></section>

            <section class="people">
                <div class="card">
                    <div class="profile-sidebar">
                        <img class="profile-img" src="{{base_path}}/images/ppl4.jpg" alt="Women">
                        <h2 class="profile-title">Message from Rector</h2>
                        <p class="profile-partner">Prof.Alessandra Briganti<br> Rector Gulglelmo Marconi University</p>
                    </div>
                    <div class="profile-main">                  
                        <p>
                          Lorem ipsum dolor sit amet, consectetur adipisicing elit ad minim.
                          Lorem ipsum dolor Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                          ipsum dolor Lorem ipsum olor sit amet Lorem ipsum dolor sit amet,
                          consectetur adipisicing   Lrem ipsum dolor sit amet, consectetur adipisicing elit ad minim.
                          Lorem ipsum dolo ipsum dolor sit amet,
                          consectetur    Lorem ipsum dolor sit amet, consectetur adipisicing elit ad minim.
                          Lorem ipsum dolor Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                          ipsum dolor Lorem ipsum olor sit amet Lorem ipsum dolor sit amet,
                          consectetur adipisicing<a href="#">lorem ipsum dolor sit</a> sit amet Lorem ipsum dolor sit
                        </p>  
                       <p> Lorem ipsum dolor Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                        ipsum dolor Lorem ipsum olor sit amet Lorem ipsum dolor sit amet,
                        consectetur    Lorem ipsum dolor sit amet, consectetur adipisicing elit ad minim.
                        Lorem ipsum dolor Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                        ipsum dolor Lorem ipsum olor sit amet Lorem ipsum dolor sit amet,
                        consectetur adipisicing<a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit ad minim.</a>
                      </p>
                    </div>
                </div>

                <div class="card card-2">
                    <video poster="{{base_path}}/images/university.jpg" controls="" class="bg-white shadow-sm rounded">
                        <source src="{{base_path}}/images/video/sample.mp4" type="video/mp4">
                    </video>

                    <div class="profile-sidebar">
                      <img class="profile-img" src="{{base_path}}/images/ppl4.jpg" alt="Women">
                      <h2 class="profile-title">Message from Rector</h2>
                      <p class="profile-partner">Prof.Alessandra Briganti<br> Rector Gulglelmo Marconi University</p>
                    </div>
                </div>
            </section>
        </div>
    </div>