<script>
        jQuery(document).ready(function() {
            jQuery('.owl-carousel').owlCarousel({
                loop: true,
                margin: 10,
                autoWidth: true,
                responsiveClass: true,
                responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 5,
                    nav: true,
                    loop: false,
                    margin: 20
                }
                }
            })
        })
    </script>

<div class="container-fluid my-container">
         <div class="partners">
            <div class="info shawdow-effect">
               
               <img src="{{base_path}}/images/partners-text.svg" alt="">
               <h2>Universities we Partner <br>With</h2>
               <h3>We partner with some of the renowned universities of the world to develop and deliver our programs like Guglielmo Marconi University, Italy, Universidad Catolica De Murcia (UCAM), Spain and Bellevue University, USA. They are all top ranking universities.
               </h3>
            </div>
            <div class="owl-carousel owl-theme partner-logos owl-loaded owl-drag">
                
                
                
                
                
                
                
            <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 1s ease 0s; width: 2030px;"><div class="owl-item active" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/cmi-logo.svg" style="opacity: 1;">
                     </div>
                </div></div><div class="owl-item active" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/ciq-logo.svg" style="opacity: 1;">
                     </div>
                </div></div><div class="owl-item active" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/sqa-logo.svg" style="opacity: 1;">
                     </div>
                </div></div><div class="owl-item active" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/ucam-logo.svg" style="opacity: 1;">
                     </div>
                </div></div><div class="owl-item" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/cmi-logo.svg" style="opacity: 1;">
                     </div>
                </div></div><div class="owl-item" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/ucam-logo.svg" style="opacity: 1;">
                     </div>
                </div></div><div class="owl-item" style="width: auto; margin-right: 20px;"><div class="item">
                     <div class="logo">
                        <img src="{{base_path}}/images/ciq-logo.svg" style="opacity: 1;">
                     </div>
                </div></div></div></div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev disabled"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>

         </div>
         <div class="know-more">
            <button>Know More</button>
         </div>
         <div class="reason-section">
            <div class="reason-section-item">
               <img src="{{base_path}}/images/need-reason-img.svg">
            </div>
            <div class="reason-section-item">
               <div class="steps">
                  <h1>Need More Reasons to Start today ?</h1>
                  <h2>Take a 7-day free Trial</h2>
                  <ul>
                     <li><img src="{{base_path}}/images/tick.svg" alt=""><span>No Credit Card details Required</span></li>
                     <li><img src="{{base_path}}/images/tick.svg" alt=""><span>Free of any Obligations </span></li>
                     <li><img src="{{base_path}}/images/tick.svg" alt=""><span>Unlimited Acces to One Modul
                     </span></li><li><img src="{{base_path}}/images/tick.svg" alt=""><span>Immediate Access to the Course </span></li>
                     <li><img src="{{base_path}}/images/tick.svg" alt=""><span>Decide After the Free Trial</span></li>
                     <li><img src="{{base_path}}/images/tick.svg" alt=""><span>Engage With the Student Community</span></li>
                  </ul>
                  <div class="actions">
                     <button> Start Now</button>
                     <!-- <p>Watch Video<img src="{{base_path}}/images/video.svg" alt=""/></p> -->
                  </div>
               </div>
            </div>
         </div>
         <div class="insights-section shawdow-effect">
            <!-- <h1>News & Updates</h1> -->
            <img class="img-heading" src="{{base_path}}/images/news-updates.svg" alt="">
            <h2>From Our Insights</h2>
            <h3>We keep you informed and engaged. Blogs on diverse subjects. Candid interviews of students and employees. Reviews of books that can change your life. Testimonials from our satisfied students.</h3>
            <div class="section-items">
               <div class="section-item-one">
                  <div class="section-image">
                     <img src="{{base_path}}/images/blog-bg.png">
                     <h4>ARTICLE</h4>
                     <h5>Beating Procrastination - The Never-Ending Struggle</h5>
                     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. Lorem 
                     </p>
                  </div>
               </div>
               <div class="section-item-two">
                  <h4>Upcoming Events <span>View All</span></h4>
                  <div class="event-list">
                     <div class="event-item">
                        <div class="event-images">
                           <img src="{{base_path}}/images/events-bg.png">
                        </div>
                        <div class="event-info">
                           <h4>Beating Procrastination - The Never- Ending Struggle</h4>
                           <p><img src="{{base_path}}/images/calender.svg" alt=""><span>26th June 2020 I Friday I 03:00 Pm to 04:30Pm (GST)</span></p>
                           <p><img src="{{base_path}}/images/location.svg" alt=""><span>Open For all</span></p>
                           <h5>More Details <span>Register Now<img src="{{base_path}}/images/register.svg" alt=""></span></h5>
                        </div>
                     </div>
                     <div class="event-item">
                        <div class="event-images">
                           <img src="{{base_path}}/images/events-bg-2.png">
                        </div>
                        <div class="event-info">
                           <h4>Beating Procrastination - The Never- Ending Struggle</h4>
                           <p><img src="{{base_path}}/images/calender.svg" alt=""><span>26th June 2020 I Friday I 03:00 Pm to 04:30Pm (GST)</span></p>
                           <p><img src="{{base_path}}/images/location.svg" alt=""><span>Open For all</span></p>
                           <h5>More Details <span>Register Now<img src="{{base_path}}/images/register.svg" alt=""></span></h5>
                        </div>
                     </div>
                     <div class="event-item">
                        <div class="event-images">
                           <img src="{{base_path}}/images/events-bg-3.png">
                        </div>
                        <div class="event-info">
                           <h4>Beating Procrastination - The Never- Ending Struggle</h4>
                           <p><img src="{{base_path}}/images/calender.svg" alt=""><span>26th June 2020 I Friday I 03:00 Pm to 04:30Pm (GST)</span></p>
                           <p><img src="{{base_path}}/images/location.svg" alt=""><span>Open For all</span></p>
                           <h5>More Details <span>Register Now<img src="{{base_path}}/images/register.svg" alt=""></span></h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>