{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }} class="col-md-11 col-sm-11 p-0">
      {% for item in items %}
        <div{{ item.attributes }}>{{ item.content }}
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes }} class="col-md-11 col-sm-11 p-0">{{ item.content }}
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }} class="col-md-11 col-sm-11 p-0">
    <div{{ title_attributes.addClass(title_classes) }} class="col-md-11 col-sm-11 p-0">{{ label }}
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes }} class="col-md-11 col-sm-11 p-0">{{ item.content }}
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
