{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }}>
      {% for item in items %}
        <span{{ item.attributes }}>{{ item.content }}</span>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <span{{ attributes }} >{{ item.content }}</span>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }} >
    <span{{ title_attributes.addClass(title_classes) }} >{{ label }}</span>
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
      <span{{ item.attributes }} >{{ item.content }}</span>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
                          <small></small>
                           <p> </p>
                        </div>
                        <div class="col-md-1 col-sm-1 share-icon mobile-share-icon">