<div class="insight-banner mb-4">
                        <div class="">
                            <div class="item">                  
                                <div class="row bg-light-grey">
{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }} class="col-sm-5 p-0 profile">
      {% for item in items %}
        <div{{ item.attributes }}>
            {{ item.content }}

            <div class="insight-logo">
            <span class="text">Insights</span>
            <br/>Interviews | UniAthena
            </div>

        </div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes }} class="col-sm-5 p-0 profile">
      {{ item.content }}

        <div class="insight-logo">
        <span class="text">Insights</span>
        <br/>Interviews | UniAthena
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }} class="col-sm-5 p-0 profile">
    <div{{ title_attributes.addClass(title_classes) }} class="col-sm-5 p-0 profile">{{ label }}</div>
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes }} class="col-sm-5 p-0 profile">
      {{ item.content }}

        <div class="insight-logo">
        <span class="text">Insights</span>
        <br/>Interviews | UniAthena
        </div>

      </div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}

