<div class="item">                  
  <div class="row insight-banner bg-light-grey">
{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }} class="col-lg-6">
      {% for item in items %}
        <div{{ item.attributes }}>{{ item.content }}</div>
      {% endfor %}
    
  {% else %}
    {% for item in items %}
      <div{{ attributes }}>{{ item.content }}</div>
    {% endfor %}
  {% endif %}
  </div>
{% else %}

  <div{{ attributes }} class="col-lg-6">
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
     
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes }}>{{ item.content }}</div>
    {% endfor %}
    {% if multiple %}
      
    {% endif %}
  </div>  </div>  </div>
{% endif %}
