{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }}>
      {% for item in items %}
        <span{{ item.attributes }} class="meta">{{ item.content }}</span>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <span{{ attributes }} class="meta" >{{ item.content }}</span>
      {% if comment_count %}
      <span class="meta-count">  | {{comment_count}}</span> <img src="/themes/custom/athena/images/comment.svg">
      {% endif %}
      {% if node_stats %}
      <span class="meta-count">  | {{node_stats}} </span><img alt="eye icon" src="/themes/custom/athena/images/eye.svg">
      {% endif %}
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }} >
    <span{{ title_attributes.addClass(title_classes) }} class="meta" >{{ label }}</span>
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
      <span{{ item.attributes }}  class="meta">{{ item.content }}</span>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
 </small>
 </p>
 </div>
 <div class="col-md-1 col-sm-1 share-icon mobile-share-icon">
