<header class="site-header">
    <div class="wrapper">
    {{ page.header }}
</header>
<div class="top-gap"></div>
{% if page.highlighted %}
    <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
        {{ page.highlighted }}
    </aside>
    </div>
{% endif %}

{% if athena_exclude %}
  {{ page.content }}
{% else %}
    <div class="main-wrapper container-fluid p-0 about-us-wrapper">
    {% if page.featured_top %}
            {{ page.featured_top }}
    {% endif %}
      <div class="pt-4 container bg-white pl-0 pr-0">
        <div class="row m-0">
          {% if page.sidebar_first %}
              <div class="col-md-4 col-sm-12 pb-5">
                  {{ page.sidebar_first }}
              </div>
          {% endif %}
          <div class="col-lg-8">
              {{ page.content }}
          </div>
          {% if page.sidebar_second %}
              <div class="col-md-4 col-sm-12">
                  {{ page.sidebar_second }}
              </div>
          {% endif %}
        </div>
      </div>
    </div>
{% endif %}
{% if page.featured_bottom %}
    <div class="featured-bottom">
    <aside class="layout-container clearfix" role="complementary">
        {{ page.featured_bottom }}
    </aside>
    </div>
{% endif %}
{% if exclude_footer == false %}
{{footercoursemenu|raw}}



<footer class="main-wrapper container-fluid p-0">
  <div class="footer container pt-3">
    <div class="new-footer col-md-12 row">
      <div class="col-md-4 mb-4">
        <div class="subscribe">
          <div class="col-md-12 row">
          <img src="/themes/custom/athena/images/athena-logo.svg" class="img-fluid pb-3">

      </div>
        <div class="col-md-12">
          <p class="athena-des-footer">
            Athena Global Education is a subsidiary of Westford Education
            Group, a higher education services provider since 2009, providing
            quality UK, Italian and Spanish Bachelor and Master level degrees.
          </p>

        </div>
<div id="newsletter-info-box" id="newsletter-info-box" class="alert alert-info" style="display:none">

</div>
<div id="newsletter-info-box-error" class="alert alert-danger"  style="display:none">

</div>
          <span class="subscribe-newsletter">Subscribe to our newsletter</span>
          <div class="news-letter">
           <input type="email" id="newsletter-email-input" class="form-control">
           </div>
          <button type="button"  id="news-letter-subscribe" class="btn btn-sm mt-3 btn-outline violet-btn subscribe-button">Subscribe</button>
 </div>
      </div>

      <div class="col-md-2 links col-6 mb-4 hideinMobileView">

                <p><a href="{{ url('<front>') }}about-us/our-background">About Us</a></p>
                <p><a href="{{ url('<front>') }}about-us/athena-governance-structure">Governance</a></p>

              <p><a href="{{ url('<front>') }}about-us/policies-and-procedures">Policies &amp; Procedures</a></p>
              <p><a href="{{ url('<front>') }}about-us/board-of-governance">Board of Governance</a></p>
              <p><a href="{{ url('<front>') }}about-us/academic-council">Acadamic Council</a></p>

              <p><a href="{{ url('<front>') }}about-us/executive-council">Executive Council</a></p>
              <p><a href="{{ url('<front>') }}about-us/core-principles">Core Principles</a></p>
              <!-- <p><a href="#">Contact Us</a></p> -->
            </div>

    <div class="col-md-2 links col-6 mb-4 hideinMobileView">

              <!-- <p><a href=""></a>FAQ Glossary</p> -->
              <p><a href="{{ url('<front>') }}privacy-policy">Privacy Policy</a></p>
                <p><a href="{{ url('<front>') }}registration-terms">Terms &amp; Conditions</a></p>
                <p><a href="{{ url('<front>') }}sites/default/files/pdf-files/Policies/ACCREDITATION_OF_PRIOR_LEARNING.pdf">APL policy</a></p>
                <p><a href="{{ url('<front>') }}sites/default/files/pdf-files/Policies/Modern-Slavery-Policy.pdf">Modern Slavery Policy</a></p>
                <p><a href="{{ url('<front>') }}privacy-policy">Anti-Bribery Policy</a></p>
                <!-- <p><a href="#">Equal Oppurtunity Policy</a></p>
                <p><a href="#">Cookies Policy</a></p> -->

            </div>

    <div class="col-md-4 links mb-4 hideinMobileView">
      <div style="top:25%; position: relative;">
      <div style="font-size: 13px;">
        A Subsidary entity of,<br/>
        <img src="/themes/custom/athena/images/westford.svg" style="width: 170px;">
      </div>
      <div class="social-icons mb-3">
        <a href="https://www.facebook.com/AthenaGlobalEducation/" target="_blank"><img src="/themes/custom/athena/images/facebook.svg"></a>
        <a href="https://www.instagram.com/age_athena/" target="_blank"><img src="/themes/custom/athena/images/instagram (1).svg"></a>
        <a href="https://www.linkedin.com/school/athenaglobaleducation/" target="_blank"><img src="/themes/custom/athena/images/linkedin.svg"></a>
        <a href="https://twitter.com/AthenaGlobalEdu/" target="_blank"><img src="/themes/custom/athena/images/twitter.svg"></a>
      </div>
    </div>



  </div>


    </div>
  </div>
  <div class="container-fluid text-center bg-dark p-2 text-white mt-3">
    <div class="txt-12">All Copyrights reserved @ Athena Global Education 2020</div>
  </div>
</footer>

{% endif %}

<script type="text/javascript">
    (function () {
        var options = {
            email:"admission@athena.edu",
            whatsapp:"+971558795492",
            facebook: "AthenaGlobalEducation", // Facebook page ID
            instagram: "age_athena", // Instagram username
            company_logo_url: "//static.getbutton.io/img/flag.png", // URL of company logo (png, jpg, gif)
            greeting_message: "Hello, how may we help you? Just send us a message now to get assistance.", // Text of greeting message
            call_to_action: "Message us", // Call to action
            button_color: "#FF6550", // Color of button
            position: "right", // Position may be 'right' or 'left'
            ga: true, // Google Analytics enabled
            branding: true, // Show branding string
            mobile: true, // Mobile version enabled
            desktop: true, // Desktop version enabled
            greeting: false, // Greeting message enabled
            shift_vertical: 0, // Vertical position, px
            shift_horizontal: 0, // Horizontal position, px
            domain: "website.athena.edu", // site domain
            key: "w65CtynYQ2eEPebewXlB1w", // pro-widget key
        };
        var proto = document.location.protocol, host = "getbutton.io", url = proto + "//static." + host;
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
        s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
        var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
    })();
</script>
<!-- /GetButton.io widget -->
<!-- /GetButton.io widget -->
