<header class="site-header">
    <div class="wrapper">
    {{ page.header }}
</header>
<div class="top-gap"></div>
<div class="main-wrapper container-fluid p-0 insight-wrapper">
  {% if page.featured_top %}
      {{ page.featured_top }}
  {% endif %}
</div>
<section class="testimonials container">
    <div class="row grid-view">
        <div class="col-md-4 col-sm-12 pb-5">
            {% if page.sidebar_first %}
                    {{ page.sidebar_first }}
            {% endif %}
        </div>
        <div class="col-md-8 col-sm-12">
            {{ page.content }}

        </div>
    </div>
</section>
{% if page.featured_bottom %}
    <div class="featured-bottom">
    <aside class="layout-container clearfix" role="complementary">
        {{ page.featured_bottom }}
    </aside>
    </div>
{% endif %}

<div class="all-courses">
  <div class="sections container">
    <div class="section-item">
      <h1 class="ht-4">Most Popular Online Specialisations</h1>
      <ul>
        <li><a href="#"> Master in International Business Administration </a></li>
        <li><a href="#"> Master in Business Administration</a></li>
        <li><a href="#"> Master in Business Administration- General Management </a></li>
        <!-- <li><a href="#"> Project Management Practitioner</a></li>
        <li><a href="#"> Doctorate of Business Administration</a></li>
        <li><a href="#"> SCQF Diploma in Supply Chain And Logistics</a></li>
        <li><a href="#"> SCQF Extended Diploma in Business Analytics</a></li> -->
        <li><a href="#"> SCQF Level 11 Diploma in Supply Chain and Logistics Management</a></li>
        <li><a href="#"> Supply Chain Management Practitioner</a></li>
        <li><a href="{{url('<front>')}}certified-manager"> Certified Manager</a></li>
        <li><a href="{{url('<front>')}}strategic-hr-management-practitioner"> Strategic Human Resource Management Practitioner - CMI</a></li>
        <li><a href="#"> Executive MBA </a></li>
        <li><a href="#"> Executive MBA in Business Analytics</a></li>
        </ul>
    </div>
    <div class="section-item">
      <h1 class="ht-4">Trending Online </h1>
      <ul>
        <li><a href="#"> Finance for Non-Finance Manager</a></li>
        <li><a href="#"> Doctorate of Business Administration</a></li>
        <li><a href="{{url('<front>')}}certified-manager">Certified Manager </a></li>
        <li><a href="#">Executive MBA </a></li>
        <li><a href="#">Master in Business Administration- General Management (Fastrack)</a></li>
        <li><a href="#">Executive MBA in Business Analytics</a></li>
        <li><a href="{{url('<front>')}}pg-certificate-socio-economic-legal-framework">Postgraduate Certificate in Socio-Economic and Legal Framework</a></li>
        <li><a href="{{url('<front>')}}pg-certificate-businee-analytics"> Postgraduate Certificate in Business Analytics</a></li>
        <li><a href="{{url('<front>')}}pg-certificate-finance-next-generation-managers">Postgraduate Certificate in Finance for Next Generation Managers</a></li>
        <li><a href="#"> Postgraduate Certificate in Business Sustainability</a></li>
        <li><a href="{{url('<front>')}}supply-chain-management-practitioner"> Supply Chain Management Practitioner</a></li>
        <li><a href="#"> Strategic Human Resource Management Practitioner </a></li>
        <li><a href="#"> Executive MBA </a></li>
        <li><a href="#"> Executive MBA in Business Analytics</a></li>
      </ul>
    </div>
    <div class="section-item">
      <h1 class="ht-4">Top Universities Online Certificates</h1>
      <ul>
        <li><a href="{{url('<front>')}}pg-certificate-international-marketing-management">Postgraduate Certificate in International Marketing Management</a></li>
        <li><a href="#"> Postgraduate Certificate In International Human Resource Management</a></li>
        <li><a href="{{url('<front>')}}pg-certificate-strategic-management"> Postgraduate Certificate in Strategic Management</a></li>
        <li><a href="{{url('<front>')}}pgc-procurement-contracts-management"> Post Graduate Certificate in Procurement & Contracts Management</a></li>
        <li><a href="#"> Postgraduate Certificate in Strategic Supply Chain &amp; Logistics Management</a></li>
        <li><a href="{{url('<front>')}}pg-certificate-businee-analytics"> Postgraduate Certificate in Business Analytics</a></li>
        <li><a href="#"> Postgraduate Certificate in HR &amp; Leadership</a></li>
        <li><a href="{{url('<front>')}}pgc-human-resource-leadership"> Postgraduate Certificate in Human Resource and Leadership</a></li>
        <li><a href="{{url('<front>')}}pg-certificate-supply-chain-design-implementation"> Postgraduate Certificate in Supply Chain Design & Implementation</a></li>
        <li><a href="{{url('<front>')}}pg-ceertificate-managerial-accounting-finance"> Postgraduate Certificate in Managerial Accounting and Finance</a></li>
        <li><a href="{{url('<front>')}}project-management-practitioner"> Project Management Practitioner</a></li>
        <li><a href="#"> Supply Chain Management Practitioner</a></li>
        <li><a href="#"> Strategic Human Resource Management Practitioner </a></li>
      </ul>
    </div>
    <div class="section-item">
      <h1 class="ht-4">Accredited Online Degree Program</h1>
      <ul>
        <li><a href="#"> Master in International Business Administration</a></li>
         <li><a href="#"> Master in Business Administration</a></li>
        <li><a href="#"> Master in Business Administration- General Management </a></li>
        <li><a href="#"> Executive MBA </a></li>
        <li><a href="#"> Executive MBA in Business Analytics</a></li>
        <li><a href="#"> Doctorate in Business Administration</a></li>
      </ul>
    </div>
  </div>
</div>

{{ get_static_data('footer_links', TRUE)|raw }}


