{{ attach_library('athena/affiliate-page') }}
<div class="content-wrapper affiliate-page">
  <header>
    <div class="navbar navbar-default default header1" role="navigation">
      <div class="container">
        <div class="col-xs-6">
          <div class="navbar-header">
            <div class="navbar-brand"><a href="https://athena.edu/"><img src="/themes/custom/athena/logo.svg"
                  alt="Athena Logo" /></a></div>
          </div>
        </div>
        <div class="col-xs-6 text-right top-social">
          <a href="https://www.facebook.com/AthenaGlobalEducation/" target="_blank"><img
               alt="facebook icon" src="/themes/custom/athena/images/affiliatepage/facebook.svg"></a>
          <a href="https://twitter.com/AthenaGlobalEdu" target="_blank"><img
               alt="twitter icon" src="/themes/custom/athena/images/affiliatepage/twitter.svg"></a>
          <a href="https://www.instagram.com/age_athena/" target="_blank"><img
               alt="instagram icon" src="/themes/custom/athena/images/affiliatepage/instagram.svg"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="bg-design">
    <div class="container">
      <div class="row">
        <div class="col-md-6 european-accredited ">

          {{node.field_banner_title.value|raw}}

          {{node.field_banner_blurb.value|raw}}
          {# {{file_url(node.field_banner_image.entity.fileuri)}} #}
          <div class="col-md-5 col-xs-9 btn-course"><a href="#courses-block"> See all Courses <img
                src="/themes/custom/athena/images/affiliatepage/right-arrow.svg"
                style="margin-left:20px;  "></a></div>
          </div>

        <div class="col-md-6 text-center d-none d-md-block">
          <img src="{{file_url(node.field_banner_image.entity.fileuri)}}" alt=""
            style="width:75%;  margin-top: 67px;" />
        </div>
      </div>
    </div>
  </div>
  {% if page.content %}
      <div class="main-content">
          {{ page.content }}
      </div>
  {% endif %}
  {% if node.body.value %}
    <div class="dark-wrapper" style="padding:10px 0 30px">
      <div class="container ">
        {{node.body.value|raw}}
      </div>
    </div>
  {% endif %}

  {#
  {% set view = drupal_view_result('affiliate_page', 'afpage_courses_block')|length %}
  {% if view > 0 %}
  #}

  <div id="courses-block" class="light-wrapper">
    <div class="container inner">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h3>{{node.field_course_block_title.value|raw}}</h3>
          <h2>{{node.field_course_block_blurb.value|raw}}</h2>
        </div>
        
        {#{{ drupal_view('affiliate_page', 'afpage_courses_block') }}#}
      

        <div class="carousel-wrapper wow fadeIn">
    <div class="divide30"></div>
    <div class="nav-outside-shop owl-nav text-right"></div>
        <div class="carousel shop owl-carousel owl-theme owl-loaded">

        {% if courses_data %}

        {% for nodedata in courses_data %}
        <div class="views-row item">
            {% set cid = nodedata.field_cid.value|render|striptags|trim %}
            {% set mid = nodedata.moduleid|render|striptags|trim %}            
            {% set pay = node.field_afpage_course_pay.value|raw %}

        <figure>
          {% if nodedata.field_course_total_fee.value %}
          <div class="badge green">Total Fee <span>{{nodedata.field_course_total_fee.value|raw}}</span>
            <em>Pay in Installments</em>
          </div>
          {% endif %}

            {% set url = file_url(nodedata.field_search_list_image.entity.uri.value) %}
            {% set title = nodedata.title.value|render|striptags|trim %}
            <img src="{{url|replace({' ':''})}}" alt="{{title}}" title="{{title}}" />
        </figure>

        <div class="post-content tick ">
          <h4 class="post-title">{{title}}</h4>
          {% if nodedata.field_course_awarding_body.value %}<h5>Awarded By : <span> {{nodedata.field_course_awarding_body.value}} </span></h5>{% endif %}

        {% if nodedata.instalmenttype %}
          {% set instalment_type = nodedata.instalmenttype %}
        {% else %}
          {% set instalment_type = "Month" %}
        {% endif %}

        {% if nodedata.instalmentvalue %}<h6><img src="/themes/custom/athena/images/affiliatepage/green-tick.svg" />Fee : <span>{{nodedata.instalmentvalue}}{{'/'}}{{instalment_type}}</span></h6>{% endif %}
            
          {% if nodedata.field_course_total_credits.value %}<h6><img src="/themes/custom/athena/images/affiliatepage/green-tick.svg" />Total Credits : <span>{{nodedata.field_course_total_credits.value|raw}} {{' '}}{{nodedata.field_courses_credit_type.value|raw}}</span></h6>{% endif %}
            
          {% if nodedata.assessment %}<h6><img src="/themes/custom/athena/images/affiliatepage/green-tick.svg" />Assements : <span>{{nodedata.assessment}}</span></h6>{% endif %}

          {% if nodedata.coursedelivery %}<h6><img src="/themes/custom/athena/images/affiliatepage/green-tick.svg" />Course Delivery : <span>{{nodedata.coursedelivery|raw}}</span>
          </h6>{% endif %}

          {% if nodedata.courselrnsuprt %}<h6><img src="/themes/custom/athena/images/affiliatepage/green-tick.svg" />Learning Support : <span>{{nodedata.courselrnsuprt}}</span>
          </h6>{% endif %}

          <div class="btn-try"><a href="#" target="_blank" data-cid="{{cid}}" data-mid="{{mid}}" data-pay="{{pay}}">{{ pay == 0 ? 'Try Us free for 7 days' : 'Enroll Now' }}</a></div>

        </div>
      </div>
        {% endfor %}
       {% endif %} 

      </div>
    </div>


      </div>
    </div>
    <!--/.container -->
  </div>
  <!--/.light-wrapper -->
  {#{% endif %}#}

  {% set view = drupal_view_result('affiliate_page', 'afpage_testimonial_block')|length %}
  {% if view > 0 %}
  <div class="dark-wrapper">
    <div class="container inner"
      style="background-image:url(/themes/custom/athena/images/affiliatepage/testimonial.svg);background-repeat:no-repeat;background-position:top left;padding-top: 146px;">
      <div class="col-md-12">
        <div class="section-title text-center">
          <h3>{{node.field_testimonial_block_title.value|raw}}</h3>
          <h2>{{node.field_testimonial_block_blurb.value|raw}}</h2>
        </div>
        {{ drupal_view('affiliate_page', 'afpage_testimonial_block') }}
        <div class="divide30"></div>
      </div>
      <!-- /.container -->
    </div>
  </div>
  {% endif %}



  <footer class="footer inverse-wrapper">
    <div class="sub-footer">
      <div class="container inner3">
        <p class="text-center">© All Copyrights reserved @ <a href="https://athena.edu/">Athena Global
            Education</a>2020.</p>
      </div>
      <!-- .container -->
    </div>
    <!-- .sub-footer -->
  </footer>

  <div id="registrationModal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <img src="/themes/custom/athena/images/affiliatepage/pop-design.png" alt=""
            class="modal-top-bg" style="width: 501px; margin: -24px 0 0 -16px;" />
          {# remove cancel button
          <button
            style="color:#000!important;font-weight:normal!important;    font-size: 14px;opacity: 1;    margin-top: 1px; padding-left: 5px;"
            type="button" class="close" data-dismiss="modal">Cancel</button>
           #}
          <button style="color:#000!important;font-weight:normal!important;font-size: 21px;opacity: 1;margin-top: -2px;"
            type="button" class="close" data-dismiss="modal">&times; </button>

          <h4 class="modal-title" style=" font-size: 27px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.3;
            letter-spacing: normal;
            color: #303030;margin-top: 29px;">It’s Time to Start </h4>
                  <h5 style="  font-size: 32px;
            color: #ff016f;">Investing <span style="color:#303030"> in </span>Yourself </h5>
          <h3>Sign Up</h3>
        </div>
        <div class="modal-body">
          <form id="registration-afpage" class="needs-validation" novalidate method="post">
            <div class="reg-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="firstName">First Name</label>
                  <input type="text" name="firstName" class="form-control reg-form-control" id="firstName"
                    placeholder="First Name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="lastName">Last Name</label>
                  <input type="text" name="lastName" class="form-control reg-form-control" id="lastName"
                    placeholder="Last Name" required>
                </div>
              </div>
              <div class="form-row regUserEmail">
                <div class="form-group col-md-12">
                  <label for="regEmail">Email</label>
                  <input type="email" name="regEmail" class="form-control reg-form-control" id="regEmail"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                    placeholder="Email" required>
                </div>
              </div>
              <div class="form-row phone-number">
                <div class="form-group col-md-12">
                  <label for="reg_mobile_num">Phone Number</label>
                  <input type="tel" id="reg_mobile_num" name="reg_mobile_num" class="reg-form-control" placeholder="Enter Mobile number"
                    required>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="highestQualification">Highest Qualification</label>
                  <select id="highestQualification" name="highestQualification" class="form-control reg-form-control"
                    required>
                    <option value="">Select your highest qualification</option>
                    <option value="Masters Degree">Masters Degree</option>
                    <option value="Bachelors Degree">Bachelors Degree</option>
                    <option value="Diploma">Diploma</option>
                    <option value="A Level">A Level</option>
                    <option value="Others">Others</option>
                  </select>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="course">Course</label>              
                  <select name="course" id="course" class="form-control reg-form-control" required>
                  <option value="">Select your course</option>
                                {% for nodedata in courses_data %}
                                  {% if cid == nodedata.field_cid.value %}
                                     <option value="{{nodedata.field_cid.value}}" selected="selected">{{nodedata.label}}</option>
                                     {% else %}
                                        <option value="{{nodedata.field_cid.value}}" >{{nodedata.label}}</option>
                                  {% endif %}
                                    {% endfor %}
                  </select>
                </div>
              </div>
 <!--<div class="form-group text-center form-check consent-check">-->
              <div class="form-group text-center consent-check">
                <input type="checkbox" class="form-check-input" id="terms" name="terms[]">
                <label class="form-check-label terms-label" for="terms">I agree with <a href="/registration-terms"
                    target="_blank">Terms &amp; Conditions</a></label>
              
              <button type="button" class="btn btn-pink sign-up-button">Sign Up</button>
            </div></div>
            <div class="ref-form-2" style="display: none;">
              <div class="form-group col-md-12">
                <label for="pswd">Password</label>
                <input type="password" name="pswd" class="form-control reg-form-control" id="pswd" placeholder="Password"
                  required autocomplete="off">
                <div class="invalid-feedback">
                  Please enter a password
                </div>
              </div>
              <div class="form-group col-md-12">
                <label for="confirmpswd">Confirm Password</label>
                <input type="password" name="confirmpswd" class="form-control reg-form-control" id="confirmpswd"
                  placeholder="Re-enter Password" required autocomplete="off">
                <div class="invalid-feedback confirm-password">
                  Please enter password again
                </div>
              </div>
              <button type="submit" class="btn btn-pink" style="width:100%;margin-top:0px">Register</button>
            </div>
            <input id="cId" name="cId" type="hidden" value="">
            <input id="modId" name="modId" type="hidden" value="">
            <input id="countryId" name="countryId" type="hidden" value="">
            <input id="pay" name="pay" type="hidden" value="">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
