<header class="site-header">
    <div class="wrapper">
    {{ page.header }}
</header>
<div class="top-gap"></div>
{% if page.highlighted %}
    <div class="highlighted">
    <aside class="layout-container section clearfix" role="complementary">
        {{ page.highlighted }}
    </aside>
    </div>
{% endif %}

{% if athena_exclude %}
  {{ page.content }}
{% else %}
    <div class="main-wrapper container-fluid p-0 insight-wrapper">
    {% if page.featured_top %}
            {{ page.featured_top }}
    {% endif %}
      <div id="progress-bar" class="progress-bar">
          <div class="fill"></div>
      </div>
      <div class="row wrapper">
        <div class="col-md-7 mobilePadding">
            {{ page.content }}    
            </div>      
         <div class="col-md-1 share-icon">
         {% set site_url = url("<current>") %}
   <div class="list-unstyled a2a_kit a2a_kit_size_32 addtoany_list" data-a2a-url="{{site_url}}" data-a2a-title="{{node.label}}" style="line-height: 32px; display: block; position: fixed;">
      <li><a class="a2a_button_facebook" target="_blank" rel="nofollow noopener"><img alt="facebook icon" src="/themes/custom/athena/images/icons/facebook.svg"></a></li>
      <li><a class="a2a_button_twitter" target="_blank" rel="nofollow noopener"><img src="/themes/custom/athena/images/icons/twitter.svg"></a></li>
      <li><a class="a2a_button_linkedin" target="_blank" rel="nofollow noopener"><img alt="linkedin icon" src="/themes/custom/athena/images/icons/linkedin.svg"></a></li>
      <li><a class="a2a_button_email" target="_blank" rel="nofollow noopener"><img alt="mail icon" src="/themes/custom/athena/images/icons/mail.svg"></a></li>
      <li><a class="a2a_button_print" target="" href="#print" rel="nofollow"><img alt="printer icon" src="/themes/custom/athena/images/icons/print.svg"></a></li>
      <li><a class="a2a_dd addtoany_share" href="https://www.addtoany.com/share"><img src="/themes/custom/athena/images/icons/share.svg" alt="Share"></a></li>
   </div>
</div>
        <div class="col-md-4 mobilePadding">
          {% if page.sidebar_second %}
                  {{ page.sidebar_second }}
          {% endif %}

        </div>
      </div>
{% endif %}
{% if page.featured_bottom %}
    <div class="featured-bottom">
            <div class="stopScroll"></div>
    <aside class="layout-container clearfix" role="complementary">
        {{ page.featured_bottom }}
    </aside>
    </div>
{% endif %}

<div class="all-courses">
  <div class="sections container">
    <div class="section-item">
      <h1 class="ht-4">Most Popular Online Specialisations</h1>
      <ul>
        <li><a href="#"> Master in International Business Administration </a></li>
        <li><a href="#"> Master in Business Administration</a></li>
        <li><a href="#"> Master in Business Administration- General Management </a></li>
        <!-- <li><a href="#"> Project Management Practitioner</a></li>
        <li><a href="#"> Doctorate of Business Administration</a></li>
        <li><a href="#"> SCQF Diploma in Supply Chain And Logistics</a></li>
        <li><a href="#"> SCQF Extended Diploma in Business Analytics</a></li> -->
        <li><a href="#"> SCQF Level 11 Diploma in Supply Chain and Logistics Management</a></li>
        <li><a href="#"> Supply Chain Management Practitioner</a></li>
        <li><a href="{{url('<front>')}}certified-manager"> Certified Manager</a></li>
        <li><a href="{{url('<front>')}}strategic-hr-management-practitioner"> Strategic Human Resource Management Practitioner - CMI</a></li>
        <li><a href="#"> Executive MBA </a></li>
        <li><a href="#"> Executive MBA in Business Analytics</a></li>
        </ul>
    </div>
    <div class="section-item">
      <h1 class="ht-4">Trending Online </h1>
      <ul>
        <li><a href="#"> Finance for Non-Finance Manager</a></li>
        <li><a href="#"> Doctorate of Business Administration</a></li>
        <li><a href="{{url('<front>')}}certified-manager">Certified Manager </a></li>
        <li><a href="#">Executive MBA </a></li>
        <li><a href="#">Master in Business Administration- General Management (Fastrack)</a></li>
        <li><a href="#">Executive MBA in Business Analytics</a></li>
        <li><a href="{{url('<front>')}}pg-certificate-socio-economic-legal-framework">Postgraduate Certificate in Socio-Economic and Legal Framework</a></li>
        <li><a href="{{url('<front>')}}pg-certificate-businee-analytics"> Postgraduate Certificate in Business Analytics</a></li>
        <li><a href="{{url('<front>')}}pg-certificate-finance-next-generation-managers">Postgraduate Certificate in Finance for Next Generation Managers</a></li>
        <li><a href="#"> Postgraduate Certificate in Business Sustainability</a></li>
        <li><a href="{{url('<front>')}}supply-chain-management-practitioner"> Supply Chain Management Practitioner</a></li>
        <li><a href="#"> Strategic Human Resource Management Practitioner </a></li>
        <li><a href="#"> Executive MBA </a></li>
        <li><a href="#"> Executive MBA in Business Analytics</a></li>
      </ul>
    </div>
    <div class="section-item">
      <h1 class="ht-4">Top Universities Online Certificates</h1>
      <ul>
        <li><a href="{{url('<front>')}}pg-certificate-international-marketing-management">Postgraduate Certificate in International Marketing Management</a></li>
        <li><a href="#"> Postgraduate Certificate In International Human Resource Management</a></li>
        <li><a href="{{url('<front>')}}pg-certificate-strategic-management"> Postgraduate Certificate in Strategic Management</a></li>
        <li><a href="{{url('<front>')}}pgc-procurement-contracts-management"> Post Graduate Certificate in Procurement & Contracts Management</a></li>
        <li><a href="#"> Postgraduate Certificate in Strategic Supply Chain &amp; Logistics Management</a></li>
        <li><a href="{{url('<front>')}}pg-certificate-businee-analytics"> Postgraduate Certificate in Business Analytics</a></li>
        <li><a href="#"> Postgraduate Certificate in HR &amp; Leadership</a></li>
        <li><a href="{{url('<front>')}}pgc-human-resource-leadership"> Postgraduate Certificate in Human Resource and Leadership</a></li>
        <li><a href="{{url('<front>')}}pg-certificate-supply-chain-design-implementation"> Postgraduate Certificate in Supply Chain Design & Implementation</a></li>
        <li><a href="{{url('<front>')}}pg-ceertificate-managerial-accounting-finance"> Postgraduate Certificate in Managerial Accounting and Finance</a></li>
        <li><a href="{{url('<front>')}}project-management-practitioner"> Project Management Practitioner</a></li>
        <li><a href="#"> Supply Chain Management Practitioner</a></li>
        <li><a href="#"> Strategic Human Resource Management Practitioner </a></li>
      </ul>
    </div>
    <div class="section-item">
      <h1 class="ht-4">Accredited Online Degree Program</h1>
      <ul>
        <li><a href="#"> Master in International Business Administration</a></li>
         <li><a href="#"> Master in Business Administration</a></li>
        <li><a href="#"> Master in Business Administration- General Management </a></li>
        <li><a href="#"> Executive MBA </a></li>
        <li><a href="#"> Executive MBA in Business Analytics</a></li>
        <li><a href="#"> Doctorate in Business Administration</a></li>
      </ul>
    </div>
  </div>
</div>


{{ get_static_data('footer_links', TRUE)|raw }}



    <script type="text/javascript">
        includeHTML();
        function includeHTML() {
            var z, i, elmnt, file, xhttp;
            /* Loop through a collection of all HTML elements: */
            z = document.getElementsByTagName("*");
            for (i = 0; i < z.length; i++) {
                elmnt = z[i];
                /*search for elements with a certain atrribute:*/
                file = elmnt.getAttribute("w3-include-html");
                if (file) {
                    /* Make an HTTP request using the attribute value as the file name: */
                    xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4) {
                            if (this.status == 200) { elmnt.innerHTML = this.responseText; }
                            if (this.status == 404) { elmnt.innerHTML = "Page not found."; }
                            /* Remove the attribute, and call this function once more: */
                            elmnt.removeAttribute("w3-include-html");
                            includeHTML();
                        }
                    }
                    xhttp.open("GET", file, true);
                    xhttp.send();
                    /* Exit the function: */
                    return;
                }
            }
        }

        const progressBar = document.getElementById("progress-bar");
        const progressFill = progressBar.firstElementChild;

        window.addEventListener("scroll", () => {
            updateProgress();
        });

        function updateProgress() {
            let width = progressBar.clientWidth;
            let progress =
                window.pageYOffset / (document.body.scrollHeight - window.innerHeight);
            // fill progress bar
            if(Math.ceil(100 * progress) <= 5) {
                progressFill.style.width = "5%";
            }else {
                progressFill.style.width = Math.ceil(100 * progress) + "%";
            }
        }

        updateProgress();

        $(document).scroll(function() {
            var y = $(document).scrollTop(),
                header = $(".share-icon ul");
            if(y <= 1600)  {
                header.css({position: "fixed"});
            } else {
                header.css("position", "relative");
            }
        });

        $(document).scroll(function() {
            var y = $(document).scrollTop(),
                header = $(".share-icon.mobile-share-icon ul");
            if(y <= 3200)  {
                header.css({position: "fixed"});
            } else {
                header.css("position", "relative");
            }
        });

        const mq = window.matchMedia( "(max-width: 700px)" );

        if (mq.matches) {
          $('.insight-wrapper .share-icon').addClass('mobile-share-icon');
        }
    </script>

    <script src="bundled.js"></script>
